<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="IMAGEN/ICONO_CP.png"/>
    <link href="https://fonts.googleapis.com/css2?family=Baloo+Tammudu+2:wght@500&display=swap" rel="stylesheet">
    <title>Lavandería</title>

    <link rel="stylesheet" href="CSS/principal.css">
    <link rel="stylesheet" href="CSS/seccion-lavanderia.css">  
    

</head>
<body class="grid-container">

<header class="dtop1">
  <div class="cabecera1">
    <div class="cabecera-izq">
      <img src="IMAGEN/youtube.png" alt="Youtube" width="20px"> &nbsp;
      <img src="IMAGEN/whatsapp.png" alt="whats App" width="20px">&nbsp;
      <img src="IMAGEN/facebook.png" alt="FaceBook" width="20px">&nbsp;
      <img src="IMAGEN/twitter.png" alt="Twitter" width="20px">&nbsp;
      <img src="IMAGEN/instagram.png" alt="Instagram" width="20px"> 
    </div>
    <div class="cabecera-centro"> 
      <p id="cabecera-centro-eslogan">SABEMOS QUE ENCONTRARÁS LO QUE ESTAS BUSCANDO ;)</p>
    </div>  
  </div>
  <nav id="" class="navegacion">
    <div class="logo-texto">
      <img src="IMAGEN/LOGO_GCH.png" alt="logo" height="140px" width="280px">
    </div>
    <div>
      <ul id="" class="menu">
        <li><a href="index"><b>HOME</b></a></li> |
        <li><a href="catalogo"><b>CATÁLOGO</b></a></li> |
        <li><a href="sección-empresas"><b>CONOCENOS</b></a></li>
      </ul>
    </div>
    <div>
        <div class="cabecera-der">   
          <button style="font-size: 11px; height: 22px; width: 90px;">Login</button></a>
          <!--&nbsp;&nbsp;-->
          <input type="text" name="busqueda" id="busqueda" placeholder="Buscar..." style="width: 100px;">
        </div> 
    </div>
  </nav>
</header>
<<<<<<< HEAD

<article>
  <section class="section">
      <div class="page-nav">
        <h1>CATÁLOGO GAMER'S</h1>
        <button id="checkout" class="button-checkout" onclick="pay()">Pagar</button>
      </div>
      <div class="page-content">
        <div class="product-container">
            <h3>Nombre</h3>
            <img src="IMAGEN/Product-1.jpg" alt="Silla Gamer">
            <h1>S/.50</h1>
            <button class="button-add" onclick="add('Product-1',50)">COMPRAR</button>
=======
<br>
<div class="TITULO">
  <h1> CATALOGO GAMER SCHECKPOINT</h1>
</div>
<br>
<!-- producto 01-->
<div class="body">
  <div class="conte ">
           <div class="card produc">
            <a href="product01"><img src="IMAGEN/gif_producto/Silla.gif"></a>
           </div>
           <div class="informacion">
            <a href="product01"><h1>Silla gamer Technisport gas clase 2</h1></a>
              <p class="fecha">
                celeste y negro
              </p>
           </div>
           <div class="precio">
               <div class="box-precio">
                   <span class="precio1"><strike>S/1,500</strike> </span>
               <span class="precio2"><b>S/.1,200</b></span>
               </div>
               <span class="shoping"><i class="fas fa-cart-plus"></i></span>
           </div>
       </div>
       <!-- producto 02-->
       <div class="conte ">
        <div class="card produc">
            <a href="product02"><img src="IMAGEN/gif_producto/TECLADO1.gif"></a>
           </div>
           <div class="informacion">
               <h1>Teclado Rezer Tartarus pro</h1>
              <p class="fecha">
                blanco y negro
              </p>
           </div>
           <div class="precio">
               <div class="box-precio">
                   <span class="precio1"><strike>S/600</strike> </span>
                   <span class="precio2"><b>S/.530</b></span>
               </div>
               <span class="shoping"><i class="fas fa-cart-plus"></i></span>
           </div>
       </div>
       <!-- producto 03-->
       <div class="conte ">
        <div class="card produc">
            <a href="product03"><img src="IMAGEN/gif_producto/FIGURA1.gif"></a>
           </div>
           <div class="informacion">
               <h1>Pop Animado: Dragonball Z</h1>
              <p class="fecha">
                kIND BUU
              </p>
           </div>
           <div class="precio">
               <div class="box-precio">
                   <span class="precio1"><strike>S/75</strike> </span>
               <span class="precio2"><b>S/.70</b></span>
               </div>
               <span class="shoping"><i class="fas fa-cart-plus"></i></span>
           </div>
       </div>
       <!-- producto 04-->
       <div class="conte ">
        <div class="card produc">
          <a href="product04"><img src="IMAGEN/gif_producto/TARJETA1.gif"></a>
>>>>>>> d3267271de098cd155402e3e593cdc020e1c775c
        </div>
        <div class="product-container">
            <h3>Nombre</h3>
            <img src="IMAGEN/Product-2.jpg" alt="Teclado Gamer">
            <h1>S/.250</h1>
            <button class="button-add" onclick="add('Product-2',250)">COMPRAR</button>
        </div>
        <div class="product-container">
            <h3>Nombre</h3>
            <img src="IMAGEN/Product-3.jpg" alt="">
            <h1>S/.300</h1>
            <button class="button-add" onclick="add('Product-3',300)">COMPRAR</button>
        </div>
<<<<<<< HEAD
        <div class="product-container">
            <h3>Nombre</h3>
            <img src="IMAGEN/Product-4.jpg" alt="">
            <h1>S/.350</h1>
            <button class="button-add" onclick="add('Product-3',350)">COMPRAR</button>
        </div>
      </div>
  </section>

  <section class="S-A">
    <div class="prueba">
        <span class="laundry pag"><a href="https://www.etsy.com/es/?ref=lgo"><h3>Click here: Encuentra cosas que te enamoren. Apoya a vendedores independientes. Solo en Etsy.</h3></a></span>
        <div class="laundry"><a href="https://www.etsy.com/es/?ref=lgo"><img src="IMAGEN/LaundryWhash.jpg" alt="" width="150px" height="200px"></a></div>
        <div class="laundry"><a href="https://www.etsy.com/es/?ref=lgo"><img src="IMAGEN/LaundryDry.jpg" alt="" width="150px" height="200px"></a></div>
        <div class="laundry"><a href="https://www.etsy.com/es/?ref=lgo"><img src="IMAGEN/LaundryFold.jpg" alt="" width="150px"height="200px"></a></div>
        <div class="laundry"><a href="https://www.etsy.com/es/?ref=lgo"><img src="IMAGEN/LaundryRepeat.jpg" alt="" width="150px" height="200px"></a></div>
=======
    </div>
    <!-- producto 05-->
    <div class="conte ">
      <div class="card produc">
        <a href="product05"><img src="IMAGEN/gif_producto/POLO1.gif"></a>
      </div>
      <div class="informacion">
          <h1>Polos personalizados Gmmer video juegos</h1>
         <p class="fecha">
          blanco y negro
         </p>
      </div>
      <div class="precio">
          <div class="box-precio">
              <span class="precio1"><strike>S/60.00</strike> </span>
              <span class="precio2"><b>S/50</b></span>
          </div>
          <span class="shoping"><i class="fas fa-cart-plus"></i></span>
      </div>
  </div>
  <!-- producto 06-->
  <div class="conte ">
    <div class="card produc">
      <a href="product06"><img src="IMAGEN/gif_producto/TARJETA2.gif"></a>
    </div>
    <div class="informacion">
        <h1>Tarjeta de video Galax Geforce</h1>
       <p class="fecha">
        Rtx3090 sg
       </p>
    </div>
    <div class="precio">
        <div class="box-precio">
            <span class="precio1"><strike>S/13,600</strike> </span>
            <span class="precio2"><b>S/.13,200</b></span>
        </div>
        <span class="shoping"><i class="fas fa-cart-plus"></i></span>
    </div>
  </div>
  <!-- producto 07-->
  <div class="conte ">
    <div class="card produc">
        <a href="product07"><img src="IMAGEN/gif_producto/SILLA2.gif"></a>
      </div>
      <div class="informacion">
          <h1>Silla gamer DXRazer P series gas lift clase4</h1>
         <p class="fecha">
          rojo y negro
         </p>
      </div>
      <div class="precio">
          <div class="box-precio">
              <span class="precio1"><strike>S/930</strike> </span>
              <span class="precio2"><b>S/.899</b></span>
          </div>
          <span class="shoping"><i class="fas fa-cart-plus"></i></span>
      </div>
  </div>
  <!-- producto 08-->
  <div class="conte ">
    <div class="card produc">
      <a href="product08"><img src="IMAGEN/gif_producto/FIGURA2.gif"></a>
    </div>
    <div class="informacion">
        <h1>Figuras de super mario </h1>
       <p class="fecha">
        odyssey con cappy
       </p>
    </div>
    <div class="precio">
        <div class="box-precio">
            <span class="precio1"><strike>S/70</strike> </span>
            <span class="precio2"><b>S/.60</b></span>
        </div>
        <span class="shoping"><i class="fas fa-cart-plus"></i></span>
    </div>
</div>

</div>


  <section class="S-A">
    <div class="prueba">
        <span class="laundry pag"><h3>GAMER SCHECKPOINT: te trae los ultimos eventos y noticias  del mundo GAMER'S.</h3></span>
        <div class="laundry"><a href="https://www.claro.com.pe/institucional/centro-de-prensa/claro-gamer-fest/"><img src="https://www.claro.com.pe/portal/pe-2020/recursos_contenido/claro-home/560e9779-b460-483c-9347-996b115b5479-Claro-Gamers-Fest.jpg" alt="" width="400px" height="200px"></a></div>
        <div class="laundry"><a href="https://www.argentinagameshow.com/"><img src="https://www.antevenio.com/wp-content/uploads/2021/04/6-Argentina-Game-Show-2021.jpg" alt="" width="400px" height="200px"></a></div>
        <div class="laundry"><a href="https://universityesports.mx/"><img src="https://www.antevenio.com/wp-content/uploads/2021/04/7-University-mexico-juegos.jpg" alt="" width="400px"height="200px"></a></div>
       
>>>>>>> d3267271de098cd155402e3e593cdc020e1c775c
    </div>
  </section>
</article>
<footer id="footer_lavan">
    <div class="monsa">
      <address>
        <div class="info-contacto">
            <p>GRUPO 5 , GAMERS CHEKPOINT S.A. <br>
            <a href="https://accounts.google.com/ServiceLogin/signinchooser?service=mail&passive=true&rm=false&continue=https%3A%2F%2Fmail.google.com%2Fmail%2F&ss=1&scc=1&ltmpl=default&ltmplcache=2&emr=1&osid=1&flowName=GlifWebSignIn&flowEntry=ServiceLogin">electrohogar@electrohogar.com</a><br>
            Calle Arenas 230 , Villa Humedales - Indonesia <br>
            +62 66518-9214</p>
        </div>
        <div class="botoncontactanos">
            <button><a href="https://accounts.google.com/ServiceLogin/signinchooser?service=mail&passive=true&rm=false&continue=https%3A%2F%2Fmail.google.com%2Fmail%2F&ss=1&scc=1&ltmpl=default&ltmplcache=2&emr=1&osid=1&flowName=GlifWebSignIn&flowEntry=ServiceLogin" style="text-decoration: none;">CONTACTANOS</a></button>
        </div>
      </address>
    </div>
    <div class="certus">
        <span class="registro">
            Todos los derechos reservados GAMERS CHEKPOINT S.A. 2019
        </span>
    </div>
</footer> 
</body>
</html>