<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="IMAGEN/ICONO_CP.png"/>
    <link href="https://fonts.googleapis.com/css2?family=Baloo+Tammudu+2:wght@500&display=swap" rel="stylesheet">
    <title>GAMER'S CHECKPOINT</title>

    <link rel="stylesheet" href="CSS/principal.css">
    <link rel="stylesheet" href="CSS/catalogo.css">  
    

</head>
<body class="grid-container">

<header class="dtop1">
  <div class="cabecera1">
    <div class="cabecera-izq">
      <img src="IMAGEN/iconos/youtube.png" alt="Youtube" width="20px"> &nbsp;
      <img src="IMAGEN/iconos/whatsapp.png" alt="whats App" width="20px">&nbsp;
      <img src="IMAGEN/iconos/facebook.png" alt="FaceBook" width="20px">&nbsp;
      <img src="IMAGEN/iconos/twitter.png" alt="Twitter" width="20px">&nbsp;
      <img src="IMAGEN/iconos/instagram.png" alt="Instagram" width="20px"> 
    </div>
    <div class="cabecera-centro"> 
      <p id="cabecera-centro-eslogan">SABEMOS QUE ENCONTRARÁS LO QUE ESTAS BUSCANDO ;)</p>
    </div>  
  </div>
  <nav id="" class="navegacion">
    <div class="logo-texto">
      <img src="IMAGEN/iconos/LOGO_GCH.png" alt="logo" height="140px" width="280px">
    </div>
    <div>
      <ul id="" class="menu">
        <li><a href="/"><b>HOME</b></a></li> |
        <li><a href="catalogo"><b>CATÁLOGO</b></a></li> |
        <li><a href="sección-empresas"><b>CONOCENOS</b></a></li>
      </ul>
    </div>
    <div>
        <div class="cabecera-der">   
          <button style="font-size: 11px; height: 22px; width: 90px;">Login</button></a>
          <!--&nbsp;&nbsp;-->
          <input type="text" name="busqueda" id="busqueda" placeholder="Buscar..." style="width: 100px;">
        </div> 
    </div>
  </nav>
</header>
<br>
<div class="TITULO">
  <h1> CATALOGO GAMER SCHECKPOINT</h1>
</div>
<br>
<!-- producto 01-->
<div class="body">
  <div class="conte ">
           <div class="card produc">
            <a href="product01"><img src="IMAGEN/gif_producto/Silla.gif"></a>
           </div>
           <div class="informacion">
            <a href="product01"><h1>Silla gamer Technisport gas clase 2</h1></a>
              <p class="fecha">
                celeste y negro
              </p>
           </div>
           <div class="precio">
               <div class="box-precio">
                   <span class="precio1"><strike>$368,70</strike> </span>
               <span class="precio2"><b>$294,96</b></span>
               </div>
               <span class="shoping"><i class="fas fa-cart-plus"></i></span>
           </div>
       </div>
       <!-- producto 02-->
       <div class="conte ">
        <div class="card produc">
            <a href="product02"><img src="IMAGEN/gif_producto/TECLADO1.gif"></a>
           </div>
           <div class="informacion">
               <h1>Teclado Rezer Tartarus pro</h1>
              <p class="fecha">
                blanco y negro
              </p>
           </div>
           <div class="precio">
               <div class="box-precio">
                   <span class="precio1"><strike>$147,48</strike> </span>
                   <span class="precio2"><b>$130,27</b></span>
               </div>
               <span class="shoping"><i class="fas fa-cart-plus"></i></span>
           </div>
       </div>
       <!-- producto 03-->
       <div class="conte ">
        <div class="card produc">
            <a href="product03"><img src="IMAGEN/gif_producto/FIGURA1.gif"></a>
           </div>
           <div class="informacion">
               <h1>Pop Animado: Dragonball Z</h1>
              <p class="fecha">
                kIND BUU
              </p>
           </div>
           <div class="precio">
               <div class="box-precio">
                   <span class="precio1"><strike>$18</strike> </span>
               <span class="precio2"><b>$17</b></span>
               </div>
               <span class="shoping"><i class="fas fa-cart-plus"></i></span>
           </div>
       </div>
       <!-- producto 04-->
       <div class="conte ">
        <div class="card produc">
          <a href="product04"><img src="IMAGEN/gif_producto/TARJETA1.gif"></a>
        </div>
        <div class="informacion">
            <h1>Tarjeta de video Radeon)</h1>
           <p class="fecha">
            RX6700 xt Gaming
           </p>
        </div>
        <div class="precio">
            <div class="box-precio">
                <span class="precio1"><strike>$1327,32</strike> </span>
                <span class="precio2"><b>$1275,70</b></span>
            </div>
            <span class="shoping"><i class="fas fa-cart-plus"></i></span>
        </div>
    </div>
    <!-- producto 05-->
    <div class="conte ">
      <div class="card produc">
        <a href="product05"><img src="IMAGEN/gif_producto/POLO1.gif"></a>
      </div>
      <div class="informacion">
          <h1>Polos personalizados Gmmer video juegos</h1>
         <p class="fecha">
          blanco y negro
         </p>
      </div>
      <div class="precio">
          <div class="box-precio">
              <span class="precio1"><strike>$14</strike> </span>
              <span class="precio2"><b>$12</b></span>
          </div>
          <span class="shoping"><i class="fas fa-cart-plus"></i></span>
      </div>
  </div>
  <!-- producto 06-->
  <div class="conte ">
    <div class="card produc">
      <a href="product06"><img src="IMAGEN/gif_producto/TARJETA2.gif"></a>
    </div>
    <div class="informacion">
        <h1>Tarjeta de video Galax Geforce</h1>
       <p class="fecha">
        Rtx3090 sg
       </p>
    </div>
    <div class="precio">
        <div class="box-precio">
            <span class="precio1"><strike>$3342,88</strike> </span>
            <span class="precio2"><b>$3244,56</b></span>
        </div>
        <span class="shoping"><i class="fas fa-cart-plus"></i></span>
    </div>
  </div>
  <!-- producto 07-->
  <div class="conte ">
    <div class="card produc">
        <a href="product07"><img src="IMAGEN/gif_producto/SILLA2.gif"></a>
      </div>
      <div class="informacion">
          <h1>Silla gamer DXRazer P series gas lift clase4</h1>
         <p class="fecha">
          rojo y negro
         </p>
      </div>
      <div class="precio">
          <div class="box-precio">
              <span class="precio1"><strike>$ 228,32</strike> </span>
              <span class="precio2"><b>$ 220,70</b></span>
          </div>
          <span class="shoping"><i class="fas fa-cart-plus"></i></span>
      </div>
  </div>
  <!-- producto 08-->
  <div class="conte ">
    <div class="card produc">
      <a href="product08"><img src="IMAGEN/gif_producto/FIGURA2.gif"></a>
    </div>
    <div class="informacion">
        <h1>Figuras de super mario </h1>
       <p class="fecha">
        odyssey con cappy
       </p>
    </div>
    <div class="precio">
        <div class="box-precio">
            <span class="precio1"><strike>$ 17,19</strike> </span>
            <span class="precio2"><b>$ 14,73</b></span>
        </div>
        <span class="shoping"><i class="fas fa-cart-plus"></i></span>
    </div>
</div>

</div>

  
</article>
<footer id="footer_lavan">
    <div class="monsa">
      <address>
        <div class="info-contacto">
            <p>GRUPO 5 , GAMERS CHEKPOINT S.A. <br>
            <a href="https://accounts.google.com/ServiceLogin/signinchooser?service=mail&passive=true&rm=false&continue=https%3A%2F%2Fmail.google.com%2Fmail%2F&ss=1&scc=1&ltmpl=default&ltmplcache=2&emr=1&osid=1&flowName=GlifWebSignIn&flowEntry=ServiceLogin">electrohogar@electrohogar.com</a><br>
            Calle Arenas 230 , Lince - Peru <br>
            +51 929623468</p>
        </div>
        <div class="botoncontactanos">
            <button><a href="https://accounts.google.com/ServiceLogin/signinchooser?service=mail&passive=true&rm=false&continue=https%3A%2F%2Fmail.google.com%2Fmail%2F&ss=1&scc=1&ltmpl=default&ltmplcache=2&emr=1&osid=1&flowName=GlifWebSignIn&flowEntry=ServiceLogin" style="text-decoration: none;">CONTACTANOS</a></button>
        </div>
      </address>
    </div>
    <div class="certus">
        <span class="registro">
            Todos los derechos reservados GAMERS CHEKPOINT S.A. 2019
        </span>
    </div>
</footer> 
</body>
</html>
