<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="/css/principal.css">
    <link rel="stylesheet" href="/css/secciones.css">
    <link rel="shortcut icon" href="IMAGEN/LOGO_GCH.png"/>
    <link href="https://fonts.googleapis.com/css2?family=Baloo+Tammudu+2:wght@500&display=swap" rel="stylesheet">
        <title>GAMER'S CHECKPOINT</title>

</head>
<body>
<header class="dtop1">
    <div class="cabecera1">
        <div class="redes">
            <a href="https://www.youtube.com/watch?v=o-LxNlTN0pU" style="text-decoration: none;">
                <img src="/imagen/iconos/youtube.png" alt="Youtube"> &nbsp;
            </a>
            <a href="https://wa.me/message/M23MNKYLPLCEF1" style="text-decoration: none;">
                <img src="IMAGEN/iconos/whatsapp.png" alt="whats App">&nbsp;
            </a>
            <a href="https://es-la.facebook.com/ElectroHogarMx/posts/" style="text-decoration: none;">
                <img src="IMAGEN/iconos/facebook.png" alt="FaceBook">&nbsp;
            </a>
            <a href="https://twitter.com/search-home" style="text-decoration: none;">
                <img src="IMAGEN/iconos/twitter.png" alt="Twitter">&nbsp;
            </a>
            <a href="https://www.instagram.com/electrohogar_/" style="text-decoration: none;">
                <img src="IMAGEN/iconos/instagram.png" alt="Instagram"> 
            </a>
        </div>
        <div class="fraselema"> 
            <p>SABEMOS QUE ENCONTRARÁS LO QUE BUSCAS ;)</p>
        </div> 
    </div>
    <nav class="navegacion">
        <div class="logo-texto">

            <img src="IMAGEN/iconos/LOGO_GCH.png" alt="logo">
        </div>
        <div>
            <ul id="" class="menu">
              <li><a href="/"><b>HOME</b></a></li> |
              <li><a href="catalogo"><b>CATÁLOGO</b></a></li> |
              <li><a href="conocenos"><b>CONOCENOS</b></a></li>
            </ul>

        </div>
        <div class="login">
              <div class="cabecera-der">
                  <a href="registro"><button>REGISTRATE</button></a>
                
              </div> 
        </div>
    </nav>
</header>
<article>
    <section class="multimedia">
        <div class="slyder">
            <ul>
                <li><img src="IMAGEN/img_carrucel/img1.png" alt="IMG1"></li>
                <li><img src="IMAGEN/img_carrucel/img2.png" alt="IMG2"></li>
                <li><img src="IMAGEN/img_carrucel/img3.png" alt="IMG3"></li>
                <li><img src="IMAGEN/img_carrucel/img4.png" alt="IMG4"></li>
                <li><img src="IMAGEN/img_carrucel/img5.png" alt="IMG5"></li>
             
            </ul>
        </div>
    </section>
    <br><br>
    <section class="P-F">
        <div class="barhor">
            <div class="contenedor">
                <p>FAVORITOS</p>
                <ul class="listt">
                    <li>DE TEMPORADA</li>
                    <li>OF SEASON</li>
                    <li>DI STAGIONE</li>
                </ul>
            </div>
        </div>
        <div class="grid">
            <div class="bar4x4_1">
                <div class="favimg1">
                    <a href="product01"><img src="IMAGEN/img-productos/Product-01.jpg" 
                    alt="lav1" height="150px" width="150px" background- repeat="none"></a>
                </div>
                <div class="textin1">

                    <a href="product01"><h3>Silla gamer Technisport gas clase 2</h3> <br> <h4>celeste y negro</h4></a>

                        <br>
                    <h1>S/. 1,200</h1>
                </div>
            </div>
            <div class="bar4x4_2">
                <div class="favimg2">
                    <a href="product02"><img src="IMAGEN/img-productos/Product-02.png" 
                    alt="lav2" height="150px" width="150px"></a>
                </div>
                <div class="textin2">
                    <a href="product02"> <h3>Teclado Rezer Tartarus pro</h3> </a>
                    <br>
                    <h1>S/. 530</h1>
                </div>
            </div>
            <div class="bar4x4_3">
                <div class="favimg3">
                    <a href="product03"><img src="IMAGEN/img-productos/Product-03.png" 
                    alt="lav3" height="150px" width="150px"></a>
                </div>   
                <div class="textin3">
                    <a href="product03"><h3>Pop Animado: Dragonball Z - kIND BUU</h3></a>
                        <br>
                    <h1>S/. 70</h1>
                </div>     
            </div>
            <div class="bar4x4_4">
                <div class="favimg4">
                    <a href="product04"><img src="IMAGEN/img-productos/Product-04.png" 
                    alt="lav4" height="150px" width="150px"></a>
                    </div>
                    <div class="textin4">
                        <a href="product04"><h3>Tarjeta de video Radeon RX6700 xt Gaming</h3></a>
                        <br>
                        <h1>S/.5,190</h1>
                    </div>
            </div>
        </div>

    </div>
    <div class="grid">
        <div class="bar4x4_4">
            <div class="favimg4">
                <a href="product05"><img src="IMAGEN/img-productos/POLO1.png" 
                alt="lav1" height="150px" width="150px"></a>
            </div>
                <div class="textin4">
                    <a href="product05"><h3>Polos personalizados Gmmer video juegos</h3></a>
                    <br>
                    <h1>S/. 50</h1>
                </div>
            </div>
       
        <div class="bar4x4_3">
            <div class="favimg3">
                 <a href="product06"><img src="IMAGEN/img-productos/TARJETA2.png" 
                alt="lav2" height="150px" width="150px"></a> 
            </div>
                <div class="textin3">
                    <a href="product06"><h3>Tarjeta de video Galax Geforce Rtx3090 sg</h3></a>
                      <br>
                    <h1>S/. 13,200</h1>
                </div>     
            </div>
       
        <div class="bar4x4_2">
            <div class="favimg2">
                <a href="product07"><img src="IMAGEN/img-productos/SILLA2.jpg" 
                alt="lav3" height="150px" width="150px"></a>
            </div>   
            <div class="textin2">
                <a href="product07"><h3>Silla gamer DXRazer P series gas lift clase4, rojo y negro</h3></a>
                <br>
                    <h1>S/. 899</h1>
            </div>     
        </div>
        <div class="bar4x4_1">
            <div class="favimg1">
                <a href="product08"><img src="IMAGEN/img-productos/FIGURA2.1.png" 
                alt="lav4" height="150px" width="150px"></a>

                </div>
                <div class="textin1">
                    <a href="product08"><h3>Figuras de super mario odyssey con cappy</h3></a>
                    <br>
                    <h1>S/. 60</h1>
                </div>
            </div>
        </div>
    </section>
    <br><br><br>
    <div class="TITULO">
        <h1> MARCAS GAMER SCHECKPOINT</h1>
      </div>
      <br>
    <section class="CARR">
        <div class="CAR">
            <ul>
                <li><a href="https://www.funko.com/"><img src="https://www.lacasadeel.net/wp-content/uploads/2020/05/maxresdefault-1-1.jpg" alt="IMG1"></li></a>
                <li><a href="https://technisportusa.com/"><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSXi3mjo8xrbWudkDWeTZDRWO3e9N5DrOHW30vza0kJeeGtBTJLGmfQPct_Aq1LOtm12Ro&usqp=CAU" alt="IMG2"></li></a>
                <li><a href="https://www.corsair.com/lm/es/"><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSB91ovfJUeGh9O6EwvbDJRZUrMLuh1khbIUFR0ZHG5zsMoF8Km9-Wn6jDOwT1J6gOuuW0&usqp=CAU" alt="IMG3"></li></a>
                <li><a href="https://www.razer.com/"><img src="https://theworldwentaway.files.wordpress.com/2016/11/razer.png" alt="IMG4"></li></a>
                <li><a href="https://www.asus.com/pe/"><img src="https://files.wallpaperpass.com/2019/10/msi%20wallpaper%20212%20-%201920x1200.jpg" alt="IMG5"></li></a>
             
            </ul>
        </div>
    </section>
</article> 
<footer>
    <div class="monsa">
        <address>
            <div class="info-contacto">
                <p>GAMER'S CHECKPOINT S.A. <br>
                <a href="https://accounts.google.com/ServiceLogin/signinchooser?service=mail&passive=true&rm=false&continue=https%3A%2F%2Fmail.google.com%2Fmail%2F&ss=1&scc=1&ltmpl=default&ltmplcache=2&emr=1&osid=1&flowName=GlifWebSignIn&flowEntry=ServiceLogin"><i>electrohogar@electrohogar.com</i></a><br>
                Calle Arenas 230 , Villa Humedales - Indonesia <br>
                +62 66518-9214</p>
            </div>
            <div class="botoncontactanos">
                <a href=""><input class="contactanos" type="submit" value="CONTACTANOS"></a>
                
            </div>
        </address>
    </div>
    <div class="certus">
        <span class="registro">
        Todos los derechos reservados GAMER'S CHECKPOINT S.A. 2021
        </span>
    </div>

</footer> 
</body>
</html>
