<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GAMER'S CHECKPOINT</title>

    <link rel="stylesheet" href="CSS/principal.css">
    <link rel="shortcut icon" href="/src/IMAGEN/ICONO_CP.png"/>
    <link href="https://fonts.googleapis.com/css2?family=Baloo+Tammudu+2:wght@500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="CSS/product04.css">

    <script src="JS/product01.js" defer></script>
</head>
<body>
  <header class="dtop1">
    <div class="cabecera1">
        <div class="redes">
            <a href="https://www.youtube.com/channel/UCS7_JKtsQzooHVPmZzJOjaA" style="text-decoration: none;">
                <img src="IMAGEN/iconos/youtube.png" alt="Youtube"> &nbsp;
            </a>
            <a href="https://wa.me/message/M23MNKYLPLCEF1" style="text-decoration: none;">
                <img src="IMAGEN/iconos/whatsapp.png" alt="whats App">&nbsp;
            </a>
            <a href="https://es-la.facebook.com/ElectroHogarMx/posts/" style="text-decoration: none;">
                <img src="IMAGEN/iconos/facebook.png" alt="FaceBook">&nbsp;
            </a>
            <a href="https://twitter.com/search-home" style="text-decoration: none;">
                <img src="IMAGEN/iconos/twitter.png" alt="Twitter">&nbsp;
            </a>
            <a href="https://www.instagram.com/electrohogar_/" style="text-decoration: none;">
                <img src="IMAGEN/iconos/instagram.png" alt="Instagram"> 
            </a>
        </div>
        <div class="fraselema"> 
            <p>SABEMOS QUE ENCONTRARÁS LO QUE BUSCAS ;)</p>
        </div> 
    </div>
    <nav class="navegacion">
        <div class="logo-texto">
            <img src="IMAGEN/iconos/LOGO_GCH.png" alt="logo">
        </div>
        <div>
            <ul id="" class="menu">
              <li><a href="/"><b>HOME</b></a></li> |
              <li><a href="catalogo"><b>CATÁLOGO</b></a></li> |
              <li><a href="conocenos"><b>CONOCENOS</b></a></li>
            </ul>
        </div>
        <div class="login">
              <div class="cabecera-der">
                  <a href="registro"><button>REGISTRATE</button></a>
                
              </div> 
        </div>
    </nav>
</header>
<section class="primerbloque">
  <article class="produtoanddescription">
    <div class="produtoanddescription__img-info">
      <div class="produtoanddescription__img-info__img">
        <img src="IMAGEN/gif_producto/TARJETA1.gif" alt="FUNKO POP" width="580px">
        <figcaption>
          <p>Radeon</p>
        </figcaption>
      </div>
      <div class="produtoanddescription__img-info__info">
        <div class="produtoanddescription__img-info__info__caracteristicas">
        <h1>Q4ZV9SWE2332</h1>
        <h3>Tarjeta De Video Radeon</h3>
        <h3>Rx 6700 Xt Gaming X<br>
          2x12g 12gb Gddr6</h3>
        <h2>$ 1000</h2>
      </div>
      <div class="produtoanddescription__img-info__info__entrega">
        <div id="tabladecap">
          <div id="tb_cap">
            <div id="tb_cap_contenedor">
              <legend>Opciones de Entrega</legend>
              <div id="domicilio">
                <div><img src="IMAGEN/iconos/iconocasa.png" alt="delivery" height="40px"></div> &nbsp;&nbsp;
                <div><h5>DESPACHO A DOMICILIO <P>Disponible</P> </h5></div> &nbsp;
              </div>
              <div id="retiro">
                <div><img src="IMAGEN/iconos/iconotienda.png" width="50px" alt="retiro"></div> &nbsp;&nbsp;
                <div><h5>RETIRO EN TIENDA  <P>No disponible</P> </h5></div> &nbsp;
              </div>
              <div id="stock">
                <div><img src="IMAGEN/iconos/iconostock.png" width="50px" alt="stock"></div>&nbsp;&nbsp;
                <div><h5>STOCK EN TIENDA <P>No disponible</P></h5></div>&nbsp;
              </div>
            </div>
          </div>
          <div id="tr_cond">
            <p><a href="#">Cambios y Condiciones</a> en nuestras tiendas a nivel nacional</p>
          </div>
        </div>
      </div>
    </div>
  </article>
</section>

<section class="accion-compra">
  <script src="https://www.paypal.com/sdk/js?client-id=sb"></script>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  <script>
  paypal.Buttons({
  createOrder: function(data, actions) {
  return actions.order.create({
      // ...
      purchase_units: [{
          amount: {
              value: 20
          }
      }],
  });
  }
  }).render('body');</script>
</section>


<section class="O-P">
  <div class="barhor">
      <div class="contenedor2">
          <p>OFERTAS</p>
          <ul class="list">
              <li class="list2">PARA TI</li>
              <li>FOUR YOU</li>
              <li>PER A TU</li>
          </ul>
      </div>
  </div>
  <div class="grid">
    <div class="bar4x4_1">
        <div class="favimg1">
            <a href="produc"><img src="IMAGEN/gif_producto/silla.gif" 
            alt="silla-azul-negro" height="150px" width="150px"></a>
        </div>
        <div class="textin1">
            <h3>Silla Gamer</h3>
            <br>
            <h1>$ 200</h1>
        </div>
    </div>
    <div class="bar4x4_2">
        <div class="favimg2">
            <a href="product02"><img src="IMAGEN/gif_producto/TECLADO1.gif" 
            alt="teclado" height="150px" width="150px"></a>
        </div>
        <div class="textin2">
            <h3>Teclado Gamer</h3>
            <br>
            <h1>$ 25</h1>
        </div>
    </div>
    <div class="bar4x4_3">
        <div class="favimg3">
            <a href="product03"><img src="IMAGEN/gif_producto/SILLA2.gif" 
            alt="Silla2" height="150px" width="150px"></a>
        </div>   
        <div class="textin3">
            <h3>Silla Gamer</h3>
            <br>
            <h1>$ 230</h1>
        </div>     
    </div>
    <div class="bar4x4_4">
        <div class="favimg4">
            <a href="product04"><img src="IMAGEN/gif_producto/TARJETA1.gif" 
            alt="tajeta-video1" height="150px" width="150px"></a>
            </div>
            <v class="textin4">
                <h3>
                  Tarjeta de video<br> Radeon
                </h3>
            <br>
            <h1>$ 1000v>
    </div>
</div>
</section>

<section class="nave_tabs">
  <div class="nav_ventanas">
    <div id="nav_ventanas_menu">
    <button class="fi-des" data-target="#contenedor_FT">Ficha Técnica</button>
    <button class="fi-des" data-target="#contenedor_tec">Descripción</button>
    </div>
    <div data-content id="contenedor_FT" class="active">
      <h1>Ficha Técnica</h1>
      <br>
      <table id="tablafichat">
        <tr>
          <th id="tablafichat_carac">CARACTERÍSTICAS</th>
          <td id="tablafichat_carac_desc1">Tecnología TurboWash 3D.<br><br>
            Steam Lavado a vapor. <br><br>
            Limpieza Automática. 
          </td>
        </tr>
        <tr>
          <th id="tablafichat_esp">ESPECIFICACIONES</th>
          <td id="tablafichat_esp_desc2">
          Peso 49 kg
          <br><br>
          Tamaño de memoria: 12 GB <br>
          Bus de memoria	192 bit<br>
          Velocidad de la memoria	16000 MHz
          <br><br>
          Potencia : 650 W<br>
          Tipo de memoria gráfica: GDDR6<br>
          Interfaz con la placa madre	PCI-Express 4.0<br>
          Conectividad	DisplayPort,HDMI
          <br><br>
          Fabricante: MSI<br>
          Modelo	RADEON RX 6700 XT <br>
          Versión	RADEON RX 6700 XT MECH 2X 12G OC <br>
          Serie	Radeon RX 6000 Series
          <br><br>
          Consumo de agua 230
          </td>
          
        </tr>
          <tr>
          <th id="tablafichat_list">Funciones destacadas</th>
          <td id="tablafichat_list_desc3">Es compatible con directX	Sí <br>
            Es compatible con openGL	Sí
        </tr>
      </table>
    </div>
    <br>
    <div data-content id="contenedor_tec">
      <h1>Descripción</h1>
      <br>
      <div id="contenedor_tec_sup">
        <!--cambiarlo por un logo con una direccion url-->
        <a href="https://www.amd.com/en/technologies/radeon-software"><img src="https://4.bp.blogspot.com/-xFtrIlgIdT4/VC3SJyBtlAI/AAAAAAAAFcU/b9I38hgBQX8/s1600/Apps-Amd-Ati-icon.png" alt="lg logo" width="70px"></a>
        <a href="https://www.amd.com/en/technologies/radeon-software" id="contenedor_tec_sup_texto">Conoce más...</a>
      </div>
      <div id="contenedor_tec_cent">
        <div id="contenedor_tec_cent_1">
          <img src="https://s03.s3c.es/imag/_v0/770x420/0/f/3/Etiqueta-de-energia.jpg" alt="ecofriend" width="200px">
          <p>Ecologico</p>
        </div>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <div id="contenedor_tec_cent_2">
          <img src="https://cdn.shopify.com/s/files/1/0254/2144/7246/products/f1541709-6264-4b77-9267-49fa193f37e4_700x700.jpg?v=1636593974" alt="tecnología" height="100px" width="100px">
          <p>Tecnología</p>
        </div>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <div id="contenedor_tec_cent_3">
          <img src="https://logonoid.com/images/radeon-logo.png" width="100px" height="100px" alt="motor-s" id="contenedor_FT_T_centro_botonS">
          <p>Fabricante</p>
        </div>
      </div>
      <div id="contenedor_tec_fin">
        <p id="contenedor_tec_fin_texto">
          La tarjeta gráfica AMD Radeon™, potenciada con la arquitectura<br>
          y equipada con 40 potentes unidades de procesamiento mejoradas, la flamante tecnología AMD<br>
          Infinity Cache y 12 GB de memoria GDDR6 dedicada, está diseñada para alcanzar velocidades de <br>
          cuadros ultraaltas y jugar en 4K con una potencia arrasadora.</p>
      </div>
    </div>
  </div>
</section>

<footer>
  <div class="monsa">
    <address>
      <div class="info-contacto">
          <p>GRUPO 1 , ELECTRO-HOGAR S.A. <br>
          <a href="https://accounts.google.com/ServiceLogin/signinchooser?service=mail&passive=true&rm=false&continue=https%3A%2F%2Fmail.google.com%2Fmail%2F&ss=1&scc=1&ltmpl=default&ltmplcache=2&emr=1&osid=1&flowName=GlifWebSignIn&flowEntry=ServiceLogin">electrohogar@electrohogar.com</a><br>
          Calle Arenas 230 , Lince - Peru <br>
          +51 929623468</p>
      </div>
      <div class="botoncontactanos">
          <button><a href="https://accounts.google.com/ServiceLogin/signinchooser?service=mail&passive=true&rm=false&continue=https%3A%2F%2Fmail.google.com%2Fmail%2F&ss=1&scc=1&ltmpl=default&ltmplcache=2&emr=1&osid=1&flowName=GlifWebSignIn&flowEntry=ServiceLogin" style="text-decoration: none;">CONTACTANOS</a></button>
      </div>
    </address>
  </div>
  <div class="certus">
    <span class="registro">
    Todos los derechos reservados ELECTRO-HOGAR S.A. 2019
    </span>
  </div>
</footer>
</body>
</html>