<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GAMER'S CHECKPOINT</title>

    <link rel="stylesheet" href="CSS/principal.css">
    <link rel="shortcut icon" href="IMAGEN/iconos/ICONO_CP.png"/>
    <link href="https://fonts.googleapis.com/css2?family=Baloo+Tammudu+2:wght@500&display=swap"
    rel="stylesheet">
    <link rel="stylesheet" href="CSS/product04.css">

    <script src="JS/product01.js" defer></script>
</head>
<body>
  <header class="dtop1">
    <div class="cabecera1">
        <div class="redes">
            <a href="https://www.youtube.com/watch?v=o-LxNlTN0pU" style="text-decoration: none;">
                <img src="IMAGEN/iconos/youtube.png" alt="Youtube"> &nbsp;
            </a>
            <a href="https://wa.me/message/M23MNKYLPLCEF1" style="text-decoration: none;">
                <img src="IMAGEN/iconos/whatsapp.png" alt="whats App">&nbsp;
            </a>
            <a href="https://es-la.facebook.com/ElectroHogarMx/posts/" style="text-decoration: none;">
                <img src="IMAGEN/iconos/facebook.png" alt="FaceBook">&nbsp;
            </a>
            <a href="https://twitter.com/search-home" style="text-decoration: none;">
                <img src="IMAGEN/iconos/twitter.png" alt="Twitter">&nbsp;
            </a>
            <a href="https://www.instagram.com/electrohogar_/" style="text-decoration: none;">
                <img src="IMAGEN/iconos/instagram.png" alt="Instagram"> 
            </a>
        </div>
        <div class="fraselema"> 
            <p>SABEMOS QUE ENCONTRARÁS LO QUE BUSCAS ;)</p>
        </div> 
    </div>
    <nav class="navegacion">
        <div class="logo-texto">
            <img src="IMAGEN/iconos/LOGO_GCH.png" alt="logo">
        </div>
        <div>
            <ul id="" class="menu">
              <li><a href="/"><b>HOME</b></a></li> |
              <li><a href="catalogo.ejs"><b>CATÁLOGO</b></a></li> |
              <li><a href="conocenos.ejs"><b>CONOCENOS</b></a></li>
            </ul>
        </div>
        <div class="login">
              <div class="cabecera-der">
                  <a href="registro.ejs"><button>REGISTRATE</button></a>
                
              </div> 
        </div>
    </nav>
</header>
<section class="primerbloque">
  <article class="produtoanddescription">
    <div class="produtoanddescription__img-info">
      <div class="produtoanddescription__img-info__img">
        <img src="IMAGEN/gif_producto/FIGURA1.gif" alt="FUNKO POP" width="580px">
        <figcaption>
          <p>Funko Pop</p>
        </figcaption>
      </div>
      <div class="produtoanddescription__img-info__info">
        <div class="produtoanddescription__img-info__info__caracteristicas">
        <h1>Q4ZV9SWE2332</h1>
        <h3>Funko Pop Animation: Dragon Ball Z - Kid Buu</h3>
        <h3>Figura coleccionable Funko Pop! de Kid Buu <br>
          Kamekameha del anime Dragon Ball Z.</h3>
        <h2>$ 20</h2>
      </div>
      <div class="produtoanddescription__img-info__info__entrega">
        <div id="tabladecap">
          <div id="tb_cap">
            <div id="tb_cap_contenedor">
              <legend>Opciones de Entrega</legend>
              <div id="domicilio">
                <div><img src="IMAGEN/iconos/iconocasa.png" alt="delivery" height="40px"></div> &nbsp;&nbsp;
                <div><h5>DISPONIBLE</h5></div> &nbsp;&nbsp;
                <div><P>Despacho a domicilio</P></div>
              </div>
              <div id="retiro">
                <div><img src="IMAGEN/iconos/iconotienda.png" width="40px" alt="retiro"></div> &nbsp;&nbsp;
                <div><h5>NO DISPONIBLE</h5></div> &nbsp;&nbsp;
                <div><P>Retiro en tienda</P></div>
              </div>
              <div id="stock">
                <div><img src="IMAGEN/iconos/iconostock.png" width="40px" alt="stock"></div>
                <div><h5>NO DISPONIBLE</h5></div>
                <div><P>Stock en tienda</P></div> 
              </div>
            </div>
          </div>
          <div id="tr_cond">
            <p><a href="#">Cambios y Condiciones</a> en nuestras tiendas a nivel nacional</p>
          </div>
        </div>
      </div>
    </div>
  </article>
</section>

<section class="accion-compra">
  <a href="https://wa.me/message/M23MNKYLPLCEF1" style="text-decoration:none;">
    <button class="accion-comra__boton" style="cursor: pointer">
      <img src="IMAGEN/iconos/whatsapp-logo-png-transparent.png" 
      alt="whatsapp logo" width="30px">&nbsp;&nbsp;
      <h2>¡LO QUIERO!</h2>&nbsp;&nbsp;
      <img src="IMAGEN/iconos/whatsapp-logo-png-transparent.png"
      alt="whatsapp logo" width="30px">
    </button>
  </a>
</section>

<section class="O-P">
  <div class="barhor">
      <div class="contenedor2">
          <p>OFERTAS</p>
          <ul class="list">
              <li class="list2">PARA TI</li>
              <li>FOUR YOU</li>
              <li>PER A TU</li>
          </ul>
      </div>
  </div>
  <div class="grid">
    <div class="bar4x4_1">
        <div class="favimg1">
            <a href="product01.ejs"><img src="IMAGEN/gif_producto/silla.gif" 
            alt="silla-azul-negro" height="150px" width="150px"></a>
        </div>
        <div class="textin1">
            <h3>Silla Gamer</h3>
            <br>
            <h1>S/.660 ♥</h1>
        </div>
    </div>
    <div class="bar4x4_2">
        <div class="favimg2">
            <a href="product02.ejs"><img src="IMAGEN/gif_producto/TECLADO1.gif" 
            alt="teclado" height="150px" width="150px"></a>
        </div>
        <div class="textin2">
            <h3>Teclado Gamer</h3>
            <br>
            <h1>S/.660 ♥</h1>
        </div>
    </div>
    <div class="bar4x4_3">
        <div class="favimg3">
            <a href="product03.ejs"><img src="IMAGEN/gif_producto/SILLA2.gif" 
            alt="Silla2" height="150px" width="150px"></a>
        </div>   
        <div class="textin3">
            <h3>Silla Gamer</h3>
            <br>
            <h1>S/.660 ♥</h1>
        </div>     
    </div>
    <div class="bar4x4_4">
        <div class="favimg4">
            <a href="product04.ejs"><img src="IMAGEN/gif_producto/TARJETA1.gif" 
            alt="tajeta-video1" height="150px" width="150px"></a>
            </div>
            <div class="textin4">
                <h3>
                  Tarjeta de video<br> Radeon
                </h3>
            <br>
            <h1>S/.660 ♥</h1>
            </div>
    </div>
</div>
</section>

<section class="nave_tabs">
  <div class="nav_ventanas">
    <div id="nav_ventanas_menu">
    <button class="fi-des" data-target="#contenedor_FT">Ficha Técnica</button>
    <button class="fi-des" data-target="#contenedor_tec">Descripción</button>
    </div>
    <div data-content id="contenedor_FT" class="active">
      <h1>Ficha Técnica</h1>
      <br>
      <table id="tablafichat">
        <tr>
          <th id="tablafichat_carac">CARACTERÍSTICAS</th>
          <td id="tablafichat_carac_desc1">Figura coleccionable estilizada<br><br>
            perfecta para cualquier fan de Dragon Ball Z <br><br>
            Funko POP! ganador del premio Toy of the Year 2017 y People's Choice. 
          </td>
        </tr>
        <tr>
          <th id="tablafichat_esp">ESPECIFICACIONES</th>
          <td id="tablafichat_esp_desc2">
          Peso: 0.012 onzas
          <br><br>
          Alto: 2.5 pulgadas <br>
          Ancho: 2.5 pulgadas<br>
          Profundidad 3.75 pulgadas
          <br><br>
          Pilas:  1 A (Tipo de pila necesaria)<br>
          Fecha de lanzamiento: Julio 14, 2019<br>
          Departamento: Hombre (l/ año)
          <br><br>
          Fabricante: Funko<br>
          Cantidad de Programas  : 12
          <br><br>
          Número de modelo del producto: 39703
          </td>
          
        </tr>
          <tr>
          <th id="tablafichat_list">Clasificación en los más <br> vendidos de Amazon</th>
          <td id="tablafichat_list_desc3">nº60,826 en Juguetes y Juegos<br>
            (Ver el Top 100 en Juguetes y Juegos) </td>
        </tr>
      </table>
    </div>
    <br>
    <div data-content id="contenedor_tec">
      <h1>Descripción</h1>
      <br>
      <div id="contenedor_tec_sup">
        <!--cambiarlo por un logo con una direccion url-->
        <a href="https://www.funko.com/"><img src="https://logodownload.org/wp-content/uploads/2019/08/funko-logo-0.png" alt="lg logo" width="70px"></a>
        <a href="https://www.funko.com/" id="contenedor_tec_sup_texto">Conoce más...</a>
      </div>
      <div id="contenedor_tec_cent">
        <div id="contenedor_tec_cent_1">
          <img src="IMAGEN/ECOFRIEND.png" alt="ecofriend" height="100px" width="100px">
          <p>Ecologico</p>
        </div>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <div id="contenedor_tec_cent_2">
          <img src="https://thumbs.dreamstime.com/b/unbreakable-icon-isolated-white-background-your-web-mobile-app-design-133862262.jpg" alt="tecnología" height="100px" width="100px">
          <p>Resistente</p>
        </div>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <div id="contenedor_tec_cent_3">
          <img src="http://3.bp.blogspot.com/-QFZ3tfsv1vs/U6Dpex3mRMI/AAAAAAAA6tU/5oncKhFY1YU/s1600/DRAGONBALL_Z_FUNKO.jpg" width="100px" height="100px" alt="motor-s" id="contenedor_FT_T_centro_botonS">
          <p>Coleccionable</p>
        </div>
      </div>
      <div id="contenedor_tec_fin">
        <p id="contenedor_tec_fin_texto">
        Funko Pop sun resistentes para que los niños lo puedan llevar a todos lados sin preocuparse<br>
        por su fabricación ya que están hechos del mejor vinilo y las mejores pinturas<br>
        no tóxicas y libres de quimicos dañinos</p>
      </div>
    </div>
  </div>
</section>

<footer>
  <div class="monsa">
    <address>
      <div class="info-contacto">
          <p>GRUPO 1 , ELECTRO-HOGAR S.A. <br>
          <a href="https://accounts.google.com/ServiceLogin/signinchooser?service=mail&passive=true&rm=false&continue=https%3A%2F%2Fmail.google.com%2Fmail%2F&ss=1&scc=1&ltmpl=default&ltmplcache=2&emr=1&osid=1&flowName=GlifWebSignIn&flowEntry=ServiceLogin">electrohogar@electrohogar.com</a><br>
          Calle Arenas 230 , Villa Humedales - Indonesia <br>
          +62 66518-9214</p>
      </div>
      <div class="botoncontactanos">
          <button><a href="https://accounts.google.com/ServiceLogin/signinchooser?service=mail&passive=true&rm=false&continue=https%3A%2F%2Fmail.google.com%2Fmail%2F&ss=1&scc=1&ltmpl=default&ltmplcache=2&emr=1&osid=1&flowName=GlifWebSignIn&flowEntry=ServiceLogin" style="text-decoration: none;">CONTACTANOS</a></button>
      </div>
    </address>
  </div>
  <div class="certus">
    <span class="registro">
    Todos los derechos reservados ELECTRO-HOGAR S.A. 2019
    </span>
  </div>
</footer>
</body>
</html>