<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GAMER'S CHECKPOINT</title>

    <link rel="stylesheet" href="CSS/principal.css">
    <link rel="shortcut icon" href="/src/IMAGEN/ICONO_CP.png"/>
    <link href="https://fonts.googleapis.com/css2?family=Baloo+Tammudu+2:wght@500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="CSS/product04.css">

    <script src="JS/product01.js" defer></script>
</head>
<body>
<header class="dtop1">
  <div class="cabecera1">
    <div class="cabecera-izq">
      <img src="IMAGEN/iconos/youtube.png" alt="Youtube" width="20px"> &nbsp;
      <img src="IMAGEN/iconos/whatsapp.png" alt="whats App" width="20px">&nbsp;
      <img src="IMAGEN/iconos/facebook.png" alt="FaceBook" width="20px">&nbsp;
      <img src="IMAGEN/iconos/twitter.png" alt="Twitter" width="20px">&nbsp;
      <img src="IMAGEN/iconos/instagram.png" alt="Instagram" width="20px"> 
    </div>
    <div class="cabecera-centro"> 
      <p>SABEMOS QUE ENCONTRARÁS LO QUE ESTAS BUSCANDO ;)</p>
    </div>
    <form>
      <div class="cabecera-der">   
        <button style="font-size: 11px; height: 22px; width: 90px;">MI CUENTA</button></a>
        &nbsp;&nbsp;
        <input type="text" name="busqueda" id="busqueda" placeholder="Buscar..." style="width: 100px;">
      </div> 
    </form>   
  </div>
  <nav id="" class="navegacion">
    <div class="logo-texto">
      <img src="IMAGEN/iconos/LOGO_GCH.png" alt="logo" height="140px" width="280px">
    </div>
    <ul id="" class="menu">
      <li><a href='/'><b>HOME</b></a></li> |
      <li><a href="catalogo"><b>CATÁLOGO</b></a></li> |
      <li><a href="conocenos"><b>CONOCENOS</b></a></li>
    </ul>

</div>
<div class="login">
      <div class="cabecera-der">
          <a href="registro"><button>Registrate</button></a>
        
      </div> 
</div>
</nav>
</header>
<section class="primerbloque">
  <article class="produtoanddescription">
    <div class="produtoanddescription__img-info">
      <div class="produtoanddescription__img-info__img">
        <img src="IMAGEN/gif_producto/TECLADO1.gif" alt="Lavadora_17kg" width="600px">
        <figcaption>
          <p>Teclado Razer Tartarus Pro </p>
        </figcaption>
      </div>
      <div class="produtoanddescription__img-info__info">
        <div class="produtoanddescription__img-info__info__caracteristicas">
        <h1>Teclado Razer Tartarus Pro </h1>
        <h3>Analog Optical Gaming Keypad</h3>
        <h3>negro y blanco </h3>
        <h2>S/. 530</h2>
      </div>
      <div class="produtoanddescription__img-info__info__entrega">
        <div id="tabladecap">
          <div id="tb_cap"  >
            <div>
              <legend>Opciones de Entrega</legend>
              <div id="domicilio">
                <div><img src="IMAGEN/iconos/iconocasa.png" alt="domicilio"  height="60px" width="60px"></div>
                <div><h5>DISPONIBLE</h5></div>
                <div><P>Despacho a domicilio</P></div>
              </div>
              <div id="retiro">
                <div><img src="IMAGEN/iconos/iconotienda.png" alt="retiro"  height="60px" width="60px"></div>
                <div><h5>NO DISPONIBLE</h5></div>
                <div><P>Retiro en tienda</P></div>
              </div>
              <div id="stock">
                <div><img src="IMAGEN/iconos/iconostock.png" alt="stock"  height="60px" width="60px"></div>
                <div><h5>NO DISPONIBLE</h5></div>
                <div><P>Stock en tienda</P></div> 
              </div>
            </div>
          </div>
          <div id="tr_cond">
            <p><a href="#retiro">Cambios y Condiciones</a> en nuestras tiendas a nivel nacional</p>
          </div>
        </div>
      </div>
    </div>
  </article>
</section>


</section>
<script src="https://www.paypal.com/sdk/js?client-id=sb"></script>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<script>
paypal.Buttons({
createOrder: function(data, actions) {
return actions.order.create({
    // ...
    purchase_units: [{
        amount: {
            value: 20
        }
    }],
});
}
}).render('body');</script>

<section class="O-P">
  <div class="barhor">
      <div class="contenedor2">
          <p>OFERTAS</p>
          <ul class="list">
              <li class="list2">PARA TI</li>
              <li>FOUR YOU</li>
              <li>PER A TU</li>
          </ul>
      </div>
  </div>
  <div class="grid">
    <div class="bar4x4_1">
      <div class="favimg2">
        <a href="product02"><img src="IMAGEN/img-productos/Product-02.png" 
        alt="lav1" height="150px" width="150px"></a>
      </div>
      <div class="textin1">
        <a href="product02"> <h3>Teclado Rezer Tartarus pro</h3> </a>
          <br>
          <h1>S/. 530</h1>
        </div>
    </div>
    <div class="bar4x4_2">
      <div class="favimg4">
        <a href="product04"><img src="IMAGEN/img-productos/Product-04.png" 
        alt="lav2" height="150px" width="150px"></a>
      </div>
      <div class="textin2">
        <a href="product04"><h3>Tarjeta de video  Radeon RX6700 xt Gaming</h3></a>
        <br>
        <h1>S/.5,190</h1>
      </div>
    </div>
    <div class="bar4x4_3">
      <div class="favimg1">
        <a href="product01"><img src="IMAGEN/img-productos/Product-01.jpg"
        alt="lav3" height="150px" width="150px"></a>
      </div>   
      <div class="textin3">
        <a href="product01"><h3>Silla gamer Technisport gas clase 2.</h3><h4>celeste y negro</h4></a>
          <br>
          <h1>S/. 1,200</h1>
      </div>     
    </div>
    <div class="bar4x4_4">
      <div class="favimg3">
        <a href="product03"><img src="IMAGEN/img-productos/Product-03.png" 
        alt="lav4" height="150px" width="150px"></a>
      </div>
      <div class="textin4">
        <a href="product03"><h3>Pop Animado: Dragonball Z - kIND BUU</h3></a>
         br>
        <h1>S/. 70</h1>
      </div>
    </div>
  </div>
</section>

<section class="nave_tabs">
  <div class="nav_ventanas">
    <div id="nav_ventanas_menu">
    <button class="fi-des" data-target="#contenedor_FT">Ficha Técnica</button>
    <button class="fi-des" data-target="#contenedor_tec">Descripción</button>
    </div>
    <div data-content id="contenedor_FT" class="active">
      <h1>Ficha Técnica</h1>
      <br>
      <table id="tablafichat">
        <tr>
          <th id="tablafichat_carac">CARACTERÍSTICAS</th>
          <td id="tablafichat_carac_desc1">TECLADO GAMER.<br>
            
          </td>
        </tr>
        <tr>
          <th id="tablafichat_esp">ESPECIFICACIONES</th>
          <td id="tablafichat_esp_desc2">
          Switches ópticos analógicos Razer<br>
          Teclas de doble función<br>
         Accionamiento regulable<br>
         32 teclas programables<br>
         Longitud de macros ilimitada y 8 perfiles de alternancia rápida<br>
          </td>
          
        </tr>
          <tr>
          <th id="tablafichat_list">Funciones destacadas</th>
          <td id="tablafichat_list_desc3">Switches ópticos analógicos Razer<br>
            Teclas de doble función<br>
            Accionamiento regulable<br>
            32 teclas programables<br>
            Longitud de macros ilimitada y 8 perfiles de alternancia rápida
            <br>
          </td>
        </tr>
      </table>
    </div>
    <br>
    <div data-content id="contenedor_tec">
      <h1>Descripción</h1>
      <br>
      <div id="contenedor_tec_sup">
        <!--cambiarlo por un logo con una direccion url-->
        <a href="https://www.razer.com/"><img src="https://hybrismedianonprods1.blob.core.windows.net/sys-master-phoenix-images-container/h6c/h6b/9559620911134/razer-ths-logo.svg" alt="lg logo" width="70px"></a>
        <a href="https://www.razer.com/" id="contenedor_tec_sup_texto">Conoce más...</a>
      </div>
      <div id="contenedor_tec_cent">
        <div id="contenedor_tec_cent_1">
          <img src="https://assets2.razerzone.com/images/razer-tartarus-pro/analog-optical-switch-actuation.gif" alt="ecofriend" height="100px" width="100px">
          <p>Switch óptico analógico razer</p>
        </div>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <div id="contenedor_tec_cent_2">
          <img src="https://razer01-01-us-east-1-prod-media.s3.amazonaws.com/sys-master/images/h55/h0b/9288347418654/ajustable-actuation.jpg" alt="tecnología" height="100px" width="100px">
          <p>Accionamiento regulable</p>
        </div>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <div id="contenedor_tec_cent_3">
          <img src="https://razer01-01-us-east-1-prod-media.s3.amazonaws.com/sys-master/root/h95/h5a/9288351907870/razer-tartarus-pro-gallery-02.jpg" width="100px" height="100px" alt="motor-s" id="contenedor_FT_T_centro_botonS">
          <p>Teclas de doble función</p>
        </div>
      </div>
      <div id="contenedor_tec_fin">
        <p id="contenedor_tec_fin_texto">
          Toma las riendas de tu juego con el Razer Tartarus Pro<br>
           un teclado para juegos con el que nunca se te escapará la victoria.<br>
            Gracias a sus pulsaciones calculadas y precisas y a sus 32 teclas programables<br>
             podrás experimentar un nivel de control y personalización a la altura de los jugadores de MMO más exigentes.</p>
      </div>
    </div>
  </div>
</section>

<footer>
  <div class="monsa">
    <address>
      <div class="info-contacto">
          <p>GRUPO 1 , GAMER'S CHECKPOINT S.A. <br>
          <a href="https://accounts.google.com/ServiceLogin/signinchooser?service=mail&passive=true&rm=false&continue=https%3A%2F%2Fmail.google.com%2Fmail%2F&ss=1&scc=1&ltmpl=default&ltmplcache=2&emr=1&osid=1&flowName=GlifWebSignIn&flowEntry=ServiceLogin">electrohogar@electrohogar.com</a><br>
          Calle Arenas 230 , Villa Humedales - Indonesia <br>
          +62 66518-9214</p>
      </div>
      <div class="botoncontactanos">
          <button><a href="https://accounts.google.com/ServiceLogin/signinchooser?service=mail&passive=true&rm=false&continue=https%3A%2F%2Fmail.google.com%2Fmail%2F&ss=1&scc=1&ltmpl=default&ltmplcache=2&emr=1&osid=1&flowName=GlifWebSignIn&flowEntry=ServiceLogin" style="text-decoration: none;">CONTACTANOS</a></button>
      </div>
    </address>
  </div>
  <div class="certus">
    <span class="registro">
    Todos los derechos reservadosGAMER'S CHECKPOINT S.A. 2021
    </span>
  </div>
</footer>
</body>
</html>