<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GAMER'S CHECKPOINT</title>

    <link rel="stylesheet" href="CSS/principal.css">
    <link rel="shortcut icon" href="/src/IMAGEN/ICONO_CP.png"/>
    <link href="https://fonts.googleapis.com/css2?family=Baloo+Tammudu+2:wght@500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="CSS/product04.css">

    <script src="JS/product01.js" defer></script>
</head>
<body>
<header class="dtop1">
<div class="cabecera1">
    <div class="redes">
        <a href="https://www.youtube.com/watch?v=o-LxNlTN0pU" style="text-decoration: none;">
            <img src="/imagen/iconos/youtube.png" alt="Youtube"> &nbsp;
        </a>
        <a href="https://wa.me/message/M23MNKYLPLCEF1" style="text-decoration: none;">
            <img src="IMAGEN/iconos/whatsapp.png" alt="whats App">&nbsp;
        </a>
        <a href="https://es-la.facebook.com/ElectroHogarMx/posts/" style="text-decoration: none;">
            <img src="IMAGEN/iconos/facebook.png" alt="FaceBook">&nbsp;
        </a>
        <a href="https://twitter.com/search-home" style="text-decoration: none;">
            <img src="IMAGEN/iconos/twitter.png" alt="Twitter">&nbsp;
        </a>
        <a href="https://www.instagram.com/electrohogar_/" style="text-decoration: none;">
            <img src="IMAGEN/iconos/instagram.png" alt="Instagram"> 
        </a>
    </div>
    <div class="fraselema"> 
        <p>SABEMOS QUE ENCONTRARÁS LO QUE BUSCAS ;)</p>
    </div> 
</div>
<nav class="navegacion">
    <div class="logo-texto">

        <img src="IMAGEN/iconos/LOGO_GCH.png" alt="logo">
    </div>
    <div>
        <ul id="" class="menu">
          <li><a href="/"><b>HOME</b></a></li> |
          <li><a href="catalogo"><b>CATÁLOGO</b></a></li> |
          <li><a href="conocenos"><b>CONOCENOS</b></a></li>
        </ul>

    </div>
    <div class="login">
          <div class="cabecera-der">
              <a href="registro"><button>PROMOS</button></a>

          </div> 
    </div>
</nav>
</header>
<section class="primerbloque">
  <article class="produtoanddescription">
    <div class="produtoanddescription__img-info">
      <div class="produtoanddescription__img-info__img">
        <img src="IMAGEN/gif_producto/FIGURA2.gif" alt="MARIO" width="600px">
        <figcaption>
          <p>Super Mario Odyssey</p>
        </figcaption>
      </div>
      <div class="produtoanddescription__img-info__info">
        <div class="produtoanddescription__img-info__info__caracteristicas">
        <h1>World of Nintendo</h1>
        <h3>Figura De Super Mario Odyssey</h3>
        <h3>Incluye a Cappy</h3>
        <h2>$ 14,74</h2>
      </div>
      <div class="produtoanddescription__img-info__info__entrega">
        <div id="tabladecap">
          <div id="tb_cap">
            <div id="tb_cap_contenedor">
              <legend>Opciones de Entrega</legend>
              <div id="domicilio">
                <div><img src="IMAGEN/iconos/iconocasa.png" alt="delivery" height="40px"></div> &nbsp;&nbsp;
                <div><h5>DESPACHO A DOMICILIO <P>Disponible</P> </h5></div> &nbsp;
              </div>
              <div id="retiro">
                <div><img src="IMAGEN/iconos/iconotienda.png" width="50px" alt="retiro"></div> &nbsp;&nbsp;
                <div><h5>RETIRO EN TIENDA  <P>No disponible</P> </h5></div> &nbsp;
              </div>
              <div id="stock">
                <div><img src="IMAGEN/iconos/iconostock.png" width="50px" alt="stock"></div>&nbsp;&nbsp;
                <div><h5>STOCK EN TIENDA <P>No disponible</P></h5></div>&nbsp;
              </div>
            </div>
          </div>
          <div id="tr_cond">
            <p><a href="#">Cambios y Condiciones</a> en nuestras tiendas a nivel nacional</p>
          </div>
        </div>
      </div>
    </div>
  </article>
</section>
<script src="https://www.paypal.com/sdk/js?client-id=sb"></script>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  <script>
      paypal.Buttons({
      createOrder: function(data, actions) {
          return actions.order.create({
              // ...
              purchase_units: [{
                  amount: {
                      value: 20
                  }
              }],
          });
      }
  }).render('body');</script>

<section class="accion-compra">
  <script src="https://www.paypal.com/sdk/js?client-id=sb"></script>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  <script>
      paypal.Buttons({
      createOrder: function(data, actions) {
          return actions.order.create({
              // ...
              purchase_units: [{
                  amount: {
                      value: 20
                  }
              }],
          });
      }
  }).render('body');</script> 

</section>

<section class="O-P">
  <div class="barhor">
      <div class="contenedor2">
          <p>OFERTAS</p>
          <ul class="list">
              <li class="list2">PARA TI</li>
              <li>FOUR YOU</li>
              <li>PER A TU</li>
          </ul>
      </div>
  </div>
  <div class="grid">
    <div class="bar4x4_1">
      <div class="favimg2">
        <a href="product02"><img src="IMAGEN/img-productos/Product-02.png" 
        alt="lav1" height="150px" width="150px"></a>
      </div>
      <div class="textin1">
        <a href="product02"> <h3>Teclado Rezer Tartarus pro</h3> </a>
        <br>
        <h1>$ 130,12</h1>
      </div>    
    </div>
    <div class="bar4x4_2">
      <div class="favimg4">
        <a href="product04"><img src="IMAGEN/img-productos/Product-04.png" 
        alt="lav2" height="150px" width="150px"></a>
      </div>
      <div class="textin2">
        <a href="product04"> <h3>Tarjeta de video  Radeon RX6700 xt Gaming</h3></a>
          <br>
          <h1>$ 1.274,15</h1>
      </div>
    </div>
    <div class="bar4x4_3">
      <div class="favimg1">
        <a href="product07"><img src="IMAGEN/img-productos/SILLA2.jpg" 
        alt="lav3" height="150px" width="150px"></a>
      </div>   
      <div class="textin3">
        <a href="product07"><h3>Silla gamer DxRacer P Series,negro y rojo</h3></a>
        <br>
    <h1>$ 220,70</h1>
      </div>     
    </div>
    <div class="bar4x4_4">
      <div class="favimg3">
        <a href="product03"><img src="IMAGEN/img-productos/Product-03.png" 
        alt="lav4" height="150px" width="150px"></a>
      </div>
      <div class="textin4">
        <a href="product03"><h3>Pop Animado: Dragonball Z - kIND BUU</h3></a>
        <br>
    <h1>$ 17,19</h1>
      </div>
    </div>
  </div>
</section>

<section class="nave_tabs">
  <div class="nav_ventanas">
    <div id="nav_ventanas_menu">
    <button class="fi-des" data-target="#contenedor_FT">Ficha Técnica</button>
    <button class="fi-des" data-target="#contenedor_tec">Descripción</button>
    </div>
    <div data-content id="contenedor_FT" class="active">
      <h1>Ficha Técnica</h1>
      <br>
      <table id="tablafichat">
        <tr>
          <th id="tablafichat_carac">CARACTERÍSTICAS</th>
          <td id="tablafichat_carac_desc1">Figura de acción<br>
            El personaje de videojuegos más famoso del mundo<br>
            Super Mario Odyssey<br>
          </td>
        </tr>
        <tr>
          <th id="tablafichat_esp">ESPECIFICACIONES</th>
          <td id="tablafichat_esp_desc2">
            Fabricante: Jakks Pacific<br>
            Línea: World of Nintendo<br>
            Franquicia: Super Mario Odyssey<br>
            Personaje: Mario Bros / Cappy<br>
            Edad mínima recomendada: 3 años<br>
            Altura: 10 cm<br>
            Articulada: Si, 13 puntos de articulación<br>
            Material: ABS<br>
          </td>
          
        </tr>
        <tr>
          <th id="tablafichat_list">Más de Jakks Pacific</th>
          <td id="tablafichat_list_desc3">JAKKS Pacific, Inc. es una empresa multimarca que, 
            desde 1995, diseña, desarrolla, produce y comercializa juguetes, productos de ocio 
            e instrumentos de escritura para niños y adultos en todo el mundo.<br>
            Colecciona todos tus personajes favoritos del universo de Super Mario. Estas figuras auténticas 
            seguramente complacerán tanto a los niños como a los coleccionistas con algunas de las figuras 
            más icónicas de Nintendo. ¡Cada figura viene con un accesorio! ¡Colecciónalos todos!
            <br>
          </td>
        </tr>
      </table>
    </div>
    <br>
    <div data-content id="contenedor_tec">
      <h1>Descripción</h1>
      <br>
      <div id="contenedor_tec_sup">
        <a href="https://www.jakks.com/"><img src="IMAGEN/marcas/jakks.png" alt="jakks logo" width="120px"></a>
        <a href="https://www.jakks.com/" 
        id="contenedor_tec_sup_texto">Conoce más...</a>
      </div>
      <div id="contenedor_tec_cent">
        <div id="contenedor_tec_cent_1">
          <img src="https://s03.s3c.es/imag/_v0/770x420/0/f/3/Etiqueta-de-energia.jpg" alt="ecofriend" width="200px">
          <p>Ecologico</p>
        </div>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <div id="contenedor_tec_cent_2">
          <img src="https://thumbs.dreamstime.com/b/unbreakable-icon-isolated-white-background-your-web-mobile-app-design-133862262.jpg" alt="resistencia" height="100px" width="100px">
          <p>Resistente</p>
        </div>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <div id="contenedor_tec_cent_3">
          <img src="https://http2.mlstatic.com/D_NQ_NP_796289-MLC45689834122_042021-O.webp" alt="coleccion" width="150px">
          <p>Coleccionable</p>
        </div>
      </div>
      <div id="contenedor_tec_fin">
        <p id="contenedor_tec_fin_texto">
          Las figuras de acción de JAKKS PACIFIC son de la mejor calidad super resistentes y ecológicos.<br>
          Te traemos las mejores colecciones para niños y adultos.<br>
          Con insumos no tóxicos y libres de quimicos dañinos.<br>
        </p>
      </div>
    </div>
  </div>
</section>

<footer>
  <div class="monsa">
    <address>
      <div class="info-contacto">
          <p> GAMER'S CHECKPOINT S.A. <br>
          <a href="https://accounts.google.com/ServiceLogin/signinchooser?service=mail&passive=true&rm=false&continue=https%3A%2F%2Fmail.google.com%2Fmail%2F&ss=1&scc=1&ltmpl=default&ltmplcache=2&emr=1&osid=1&flowName=GlifWebSignIn&flowEntry=ServiceLogin">electrohogar@electrohogar.com</a><br>
          Calle Arenas 230 , Lince - Peru <br>
          +51 929623468</p>
      </div>
      <div class="botoncontactanos">
          <button><a href="https://accounts.google.com/ServiceLogin/signinchooser?service=mail&passive=true&rm=false&continue=https%3A%2F%2Fmail.google.com%2Fmail%2F&ss=1&scc=1&ltmpl=default&ltmplcache=2&emr=1&osid=1&flowName=GlifWebSignIn&flowEntry=ServiceLogin" style="text-decoration: none;">CONTACTANOS</a></button>
      </div>
    </address>
  </div>
  <div class="certus">
    <span class="registro">
    Todos los derechos reservados GAMER'S CHECKPOINT S.A. 2021
    </span>
  </div>
</footer>
</body>
</html>