<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>GAMER'S CHECKPOINT</title>

    <link rel="stylesheet" href="CSS/principal.css">
    <link rel="shortcut icon" href="/src/IMAGEN/ICONO_CP.png"/>
    <link href="https://fonts.googleapis.com/css2?family=Baloo+Tammudu+2:wght@500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="CSS/product04.css">

    <script src="JS/product01.js" defer></script>
</head>
<body>
<header class="dtop1">
  <div class="cabecera1">
      <div class="redes">
          <a href="https://www.youtube.com/watch?v=o-LxNlTN0pU" style="text-decoration: none;">
              <img src="/imagen/iconos/youtube.png" alt="Youtube"> &nbsp;
          </a>
          <a href="https://wa.me/message/M23MNKYLPLCEF1" style="text-decoration: none;">
              <img src="IMAGEN/iconos/whatsapp.png" alt="whats App">&nbsp;
          </a>
          <a href="https://es-la.facebook.com/ElectroHogarMx/posts/" style="text-decoration: none;">
              <img src="IMAGEN/iconos/facebook.png" alt="FaceBook">&nbsp;
          </a>
          <a href="https://twitter.com/search-home" style="text-decoration: none;">
              <img src="IMAGEN/iconos/twitter.png" alt="Twitter">&nbsp;
          </a>
          <a href="https://www.instagram.com/electrohogar_/" style="text-decoration: none;">
              <img src="IMAGEN/iconos/instagram.png" alt="Instagram"> 
          </a>
      </div>
      <div class="fraselema"> 
          <p>SABEMOS QUE ENCONTRARÁS LO QUE BUSCAS ;)</p>
      </div> 
  </div>
  <nav class="navegacion">
      <div class="logo-texto">

          <img src="IMAGEN/iconos/LOGO_GCH.png" alt="logo">
      </div>
      <div>
          <ul id="" class="menu">
            <li><a href="/"><b>HOME</b></a></li> |
            <li><a href="catalogo"><b>CATÁLOGO</b></a></li> |
            <li><a href="conocenos"><b>CONOCENOS</b></a></li>
          </ul>

      </div>
      <div class="login">
            <div class="cabecera-der">
                <a href="registro"><button>PROMOS</button></a>

            </div> 
      </div>
  </nav>
</header>
<section class="primerbloque">
  <article class="produtoanddescription">
    <div class="produtoanddescription__img-info">
      <div class="produtoanddescription__img-info__img">
        <img src="IMAGEN/gif_producto/SILLA2.gif" alt="Silla2" width="600px">
        <figcaption>
          <p>SILLA GAMER DXRacer</p>
        </figcaption>
      </div>
      <div class="produtoanddescription__img-info__info">
        <div class="produtoanddescription__img-info__info__caracteristicas">
        <h1>Silla gamer DXRacer P Series,</h1>
        <h3>gas lift clase 4, tapiz pu,</h3>
        <h3>máx. 120 kg, negro y rojo</h3>
        <h2>$ 220,70</h2>
      </div>
      <div class="produtoanddescription__img-info__info__entrega">
        <div id="tabladecap">
          <div id="tb_cap">
            <div id="tb_cap_contenedor">
              <legend>Opciones de Entrega</legend>
              <div id="domicilio">
                <div><img src="IMAGEN/iconos/iconocasa.png" alt="delivery" height="40px"></div> &nbsp;&nbsp;
                <div><h5>DESPACHO A DOMICILIO <P>Disponible</P> </h5></div> &nbsp;
              </div>
              <div id="retiro">
                <div><img src="IMAGEN/iconos/iconotienda.png" width="50px" alt="retiro"></div> &nbsp;&nbsp;
                <div><h5>RETIRO EN TIENDA  <P>No disponible</P> </h5></div> &nbsp;
              </div>
              <div id="stock">
                <div><img src="IMAGEN/iconos/iconostock.png" width="50px" alt="stock"></div>&nbsp;&nbsp;
                <div><h5>STOCK EN TIENDA <P>No disponible</P></h5></div>&nbsp;
              </div>
            </div>
          </div>
          <div id="tr_cond">
            <p><a href="#">Cambios y Condiciones</a> en nuestras tiendas a nivel nacional</p>
          </div>
        </div>
      </div>
    </div>
  </article>
</section>
<section class="accion-compra">
<script src="https://www.paypal.com/sdk/js?client-id=sb"></script>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  <script>
      paypal.Buttons({
      createOrder: function(data, actions) {
          return actions.order.create({
              // ...
              purchase_units: [{
                  amount: {
                      value: 20
                  }
              }],
          });
      }
  }).render('body');</script>


</section>
<section class="accion-compra">
  <script src="https://www.paypal.com/sdk/js?client-id=sb"></script>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  <script>
      paypal.Buttons({
      createOrder: function(data, actions) {
          return actions.order.create({
              // ...
              purchase_units: [{
                  amount: {
                      value: 20
                  }
              }],
          });
      }
  }).render('body');</script> 

</section>

<section class="O-P">
  <div class="barhor">
      <div class="contenedor2">
          <p>OFERTAS</p>
          <ul class="list">
              <li class="list2">PARA TI</li>
              <li>FOUR YOU</li>
              <li>PER A TU</li>
          </ul>
      </div>
  </div>
  <div class="grid">
    <div class="bar4x4_1">
      <div class="favimg2">
        <a href="product02"><img src="IMAGEN/img-productos/Product-02.png" 
        alt="lav1" height="150px" width="150px"></a>
      </div>
      <div class="textin1">
        <a href="product02"> <h3>Teclado Rezer Tartarus pro</h3> </a>
        <br>
        <h1>$ 130,12</h1>
      </div>    
    </div>
    <div class="bar4x4_2">
      <div class="favimg4">
        <a href="product04"><img src="IMAGEN/img-productos/Product-04.png" 
        alt="lav2" height="150px" width="150px"></a>
      </div>
      <div class="textin2">
        <a href="product04"> <h3>Tarjeta de video  Radeon RX6700 xt Gaming</h3></a>
          <br>
          <h1>$ 1.274,15</h1>
      </div>
    </div>
    <div class="bar4x4_3">
      <div class="favimg1">
        <a href="product08"><img src="IMAGEN/img-productos/FIGURA2.1.png" 
        alt="lav3" height="150px" width="150px"></a>
      </div>   
      <div class="textin3">
        <a href="product08"><h3>Figura De Super Mario Odyssey Con Cappy</h3></a>
        <br>
    <h1>$ 14,73</h1>
      </div>     
    </div>
    <div class="bar4x4_4">
      <div class="favimg3">
        <a href="product03"><img src="IMAGEN/img-productos/Product-03.png" 
        alt="lav4" height="150px" width="150px"></a>
      </div>
      <div class="textin4">
        <a href="product03"><h3>Pop Animado: Dragonball Z - kIND BUU</h3></a>
        <br>
    <h1>$ 17,19</h1>
      </div>
    </div>
  </div>
</section>

<section class="nave_tabs">
  <div class="nav_ventanas">
    <div id="nav_ventanas_menu">
    <button class="fi-des" data-target="#contenedor_FT">Ficha Técnica</button>
    <button class="fi-des" data-target="#contenedor_tec">Descripción</button>
    </div>
    <div data-content id="contenedor_FT" class="active">
      <h1>Ficha Técnica</h1>
      <br>
      <table id="tablafichat">
        <tr>
          <th id="tablafichat_carac">CARACTERÍSTICAS</th>
          <td id="tablafichat_carac_desc1">Silla gamer DXRacer P Series<br>
            La combinación de colores entre negro y rojo es perfecta <br>
            diseño elegante pero audaz. 
          </td>
        </tr>
        <tr>
          <th id="tablafichat_esp">ESPECIFICACIONES</th>
          <td id="tablafichat_esp_desc2">
            Material del tapiz: PU<br>
            Ancho del asiento: 49 cm<br>
            Altura del respaldo: 84 cm<br>
            Material del relleno: Espuma moldeadora de alta densidad<br>
            Ángulo de inclinación ajustable: 90° a 135°<br>
            Almohadillas: 2 cojínes (cabecera y columna)<br>
            Ruedas: 5<br>
            Posa brazos: 2D - Arriba y abajo<br>
            Sistema de elevación de gas: Clase-4 Gaslift<br>
            Capacidad de carga máxima: 120 kg<br>
            Material de la base: Barra de color de 5 estrellas<br>
            Garantía: 2 años (solo en partes que no cubre el cuero PU)<br>
          </td>
          
        </tr>
        <tr>
          <th id="tablafichat_list">¿Porque DXRACER?</th>
          <td id="tablafichat_list_desc3">Fundada en 2001, DXRacer es pionera en sillas de juego.<br>
            Como la marca premium líder de sillas para juegos, DXRacer es mundialmente conocida y ha sido el nombre más confiable con más de 6 millones de usuarios en todo el mundo.<br>
            DXRacer se esfuerza constantemente por lograr la calidad y un diseño que los jugadores y los conductores de autos de carrera puedan apreciar por igual.<br>
          </td>
        </tr>
      </table>
    </div>
    <br>
    <div data-content id="contenedor_tec">
      <h1>Descripción</h1>
      <br>
      <div id="contenedor_tec_sup">
        <!--cambiarlo por un logo con una direccion url-->
        <a href="https://www.dxracer.com/"><img src="IMAGEN/marcas/DxRacerLogo.png" alt="DxRacer logo" width="140px"></a>
        <a href="https://www.dxracer.com/" 
        id="contenedor_tec_sup_texto">Conoce más...</a>
      </div>
      <div id="contenedor_tec_cent">
        <div id="contenedor_tec_cent_1">
          <img src="https://www.ofisillas.es/blog/wp-content/uploads/2015/12/Posturas-silla.jpg" alt="ecofriend" height="100px" width="100px">
          <p>Buena postura</p>
        </div>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <div id="contenedor_tec_cent_2">
          <img src="https://www.nsmotorsport.es/26126-large_default/sparco.jpg" alt="tecnología" height="100px" width="100px">
          <p>Facil movilidad</p>
        </div>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <div id="contenedor_tec_cent_3">
          <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSF856wh7AjMEqP4HiJsa3TxGuqcAKq-Z7ODw&usqp=CAU" width="100px" height="100px" alt="motor-s" id="contenedor_FT_T_centro_botonS">
          <p>Inclinación de 180°</p>
        </div>
      </div>
      <div id="contenedor_tec_fin">
        <p id="contenedor_tec_fin_texto">
          -Acabado con estilo de carreras: Construido con el cuero preferido por los asientos de carreras.<br>
          -Respaldar ajustable: soporte de ángulo perfecto desde 90 ° hasta 135 ° para satisfacer todas sus necesidades.<br>
          -Ruedas de pu anti arañazos: Las ruedas con revestimiento de PU están diseñadas para un funcionamiento más silencioso y una mayor resistencia.<br>
          -Diseñado para la comodidad: Con almohadas ajustables para el cuello y la zona lumbar, comodidad ergonómica y apoyo diseñado para las áreas importantes de su cuerpo.<br>
        </p>
      </div>
    </div>
  </div>
</section>

<footer>
  <div class="monsa">
      <address>
          <div class="info-contacto">
              <p>GAMER'S CHECKPOINT S.A. <br>
              <a href="https://accounts.google.com/ServiceLogin/signinchooser?service=mail&passive=true&rm=false&continue=https%3A%2F%2Fmail.google.com%2Fmail%2F&ss=1&scc=1&ltmpl=default&ltmplcache=2&emr=1&osid=1&flowName=GlifWebSignIn&flowEntry=ServiceLogin"><i>electrohogar@electrohogar.com</i></a><br>
              Calle Arenas 230 , Lince - Peru <br>
              +51 929623468</p>
          </div>
          <div class="botoncontactanos">
              <a href="conocenos"><input class="contactanos" type="submit" value="CONTACTANOS"></a>
              
          </div>
      </address>
  </div>
  <div class="certus">
      <span class="registro">
      Todos los derechos reservados GAMER'S CHECKPOINT S.A. 2021
      </span>
  </div>
</footer> 
</body>
</html>