<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GAMER SCHECKPOINT</title>

    <link rel="stylesheet" href="CSS/principal.css">
    <link rel="shortcut icon" href="/src/IMAGEN/ICONO_CP.png"/>
    <link href="https://fonts.googleapis.com/css2?family=Baloo+Tammudu+2:wght@500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="CSS/product04.css">

    <script src="JS/product01.js" defer></script>
</head>
<body>
<header class="dtop1">
  <div class="cabecera1">
    <div class="cabecera-izq">
      <img src="IMAGEN/youtube.png" alt="Youtube" width="20px"> &nbsp;
      <img src="IMAGEN/whatsapp.png" alt="whats App" width="20px">&nbsp;
      <img src="IMAGEN/facebook.png" alt="FaceBook" width="20px">&nbsp;
      <img src="IMAGEN/twitter.png" alt="Twitter" width="20px">&nbsp;
      <img src="IMAGEN/instagram.png" alt="Instagram" width="20px"> 
    </div>
    <div class="cabecera-centro"> 
      <p>SABEMOS QUE ENCONTRARÁS LO QUE ESTAS BUSCANDO ;)</p>
    </div>
    <form>
      <div class="cabecera-der">   
        <button style="font-size: 11px; height: 22px; width: 90px;">MI CUENTA</button></a>
        &nbsp;&nbsp;
        <input type="text" name="busqueda" id="busqueda" placeholder="Buscar..." style="width: 100px;">
      </div> 
    </form>   
  </div>
  <nav id="" class="navegacion">
    <div class="logo-texto">
      <img src="IMAGEN/EH LOGO.png" alt="logo" height="140px" width="280px">
    </div>
    <ul id="" class="menu">
      <li><a href="index.ejs"><b>HOME</b></a></li> |
      <li><a href="sección-lavandería.ejs"><b>LAVADO Y LIMPIEZA</b></a></li> |
      <li><a href="#"><b>MARCAS</b></a> 
        <ul class="submenu">
          <li><a href="lg_empresa.html">LG</a></li>
          <li><a href="sección-empresas.ejs">SAMSUNG</a></li>
        </ul>
      </li>
    </ul>
  </nav>
</header>
<section class="primerbloque">
  <article class="produtoanddescription">
    <div class="produtoanddescription__img-info">
      <div class="produtoanddescription__img-info__img">
        <img src="IMAGEN/SILLA1.gif" alt="" width="600px">
        <figcaption>
          <p>SILLA GAMER TECHNISPORT</p>
        </figcaption>
      </div>
      <div class="produtoanddescription__img-info__info">
        <div class="produtoanddescription__img-info__info__caracteristicas">
        <h1>Silla gamer Technisport gas clase 2,</h1>
        <h3>tapiz cuero pu,</h3>
        <h3>máx. 120 kg celeste y negro</h3>
        <h2>S/. 1,200</h2>
      </div>
      <div class="produtoanddescription__img-info__info__entrega">
        <div id="tabladecap">
          <div id="tb_cap"  >
            <div>
              <legend>Opciones de Entrega</legend>
              <div id="domicilio">
                <div><img src="" alt="domicilio"></div>
                <div><h5>DISPONIBLE</h5></div>
                <div><P>Despacho a domicilio</P></div>
              </div>
              <div id="retiro">
                <div><img src="" alt="retiro"></div>
                <div><h5>NO DISPONIBLE</h5></div>
                <div><P>Retiro en tienda</P></div>
              </div>
              <div id="stock">
                <div><img src="" alt="stock"></div>
                <div><h5>NO DISPONIBLE</h5></div>
                <div><P>Stock en tienda</P></div> 
              </div>
            </div>
          </div>
          <div id="tr_cond">
            <p><a href="#">Cambios y Condiciones</a> en nuestras tiendas a nivel nacional</p>
          </div>
        </div>
      </div>
    </div>
  </article>
</section>

<section class="accion-compra">
  <a href="https://wa.me/message/M23MNKYLPLCEF1" style="text-decoration:none;">
    <button class="accion-comra__boton" style="cursor: pointer">
      <img src="IMAGEN/whatsapp-logo-png-transparent.png" 
      alt="whatsapp logo" width="30px">&nbsp;&nbsp;
      <h2>¡LO QUIERO!</h2>&nbsp;&nbsp;
      <img src="IMAGEN/whatsapp-logo-png-transparent.png"
      alt="whatsapp logo" width="30px">
    </button>
  </a>
</section>

<section class="O-P">
  <div class="barhor">
      <div class="contenedor2">
          <p>OFERTAS</p>
          <ul class="list">
              <li class="list2">PARA TI</li>
              <li>FOUR YOU</li>
              <li>PER A TU</li>
          </ul>
      </div>
  </div>
  <div class="grid">
    <div class="bar4x4_1">
      <div class="favimg2">
        <a href="product02.ejs"><img src="IMAGEN/TECLADO1.1.png" 
        alt="lav1" height="150px" width="150px"></a>
      </div>
      <div class="textin1">
        <p>Lavaseca<br>AddWash™</p>
        <p style="font-size: 15px;"><mark>70% Off</mark> &nbsp;&nbsp; &nbsp;&nbsp;</p> 
      </div>    
    </div>
    <div class="bar4x4_2">
      <div class="favimg4">
        <a href="product04.html"><img src="IMAGEN/lavadora4.jpg" 
        alt="lav2" height="150px" width="150px"></a>
      </div>
      <div class="textin2">
        <p>Lavadora <br>TurboWash 3D</p>
        <p style="font-size: 15px;"><mark>50% Off</mark> &nbsp;&nbsp; &nbsp;&nbsp;</p> 
      </div>
    </div>
    <div class="bar4x4_3">
      <div class="favimg1">
        <a href="product01.html"><img src="IMAGEN/lavadora1.jpg" 
        alt="lav3" height="150px" width="150px"></a>
      </div>   
      <div class="textin3">
        <p>Secadora<br>SensorDry 9kg</p>
        <p style="font-size: 15px;"><mark>35% Off</mark> &nbsp;&nbsp; &nbsp;&nbsp;</p>
      </div>     
    </div>
    <div class="bar4x4_4">
      <div class="favimg3">
        <a href="product03.html"><img src="IMAGEN/lavadora3.jpg" 
        alt="lav4" height="150px" width="150px"></a>
      </div>
      <div class="textin4">
        <p>Lavadora<br>Fondo especial</p>
        <p style="font-size: 15px;"><mark>90% Off</mark> &nbsp;&nbsp; &nbsp;&nbsp;</p>
      </div>
    </div>
  </div>
</section>

<section class="nave_tabs">
  <div class="nav_ventanas">
    <div id="nav_ventanas_menu">
    <button class="fi-des" data-target="#contenedor_FT">Ficha Técnica</button>
    <button class="fi-des" data-target="#contenedor_tec">Descripción</button>
    </div>
    <div data-content id="contenedor_FT" class="active">
      <h1>Ficha Técnica</h1>
      <br>
      <table id="tablafichat">
        <tr>
          <th id="tablafichat_carac">CARACTERÍSTICAS</th>
          <td id="tablafichat_carac_desc1">
          </td>
        </tr>
        <tr>
          <th id="tablafichat_esp">ESPECIFICACIONES</th>
          <td id="tablafichat_esp_desc2">
            Material del tapiz:Cuero PU<br>
            Ancho del asiento:52 cm<br>
            Altura del respaldo:82 cm<br>
            Material del relleno:Espuma poliuretano<br>
            Ángulo de inclinación ajustable:180°<br>
            Almohadillas:2 cojínes (cabecera y columna)<br>
            Ruedas:5<br>
            Posa brazos:Sí con cojín suave en material PU regulable<br>
            Función Esterilizar. <br>
      
          </td>
          
        </tr>
        <tr>
          <th id="tablafichat_list">Lista de opciones</th>
          <td id="tablafichat_list_desc3">Las largas jornadas de juego valdrán la pena con esta silla gamer Technisport SGAZ, ideal para enfrentarte a los retos más difíciles durante muchas horas, porque es cómoda y sofisticada.<br>
            El sistema de elevación de gas revestido es de clase 2, la capacidad de soporte es de 120 kg, el alto del respaldo es de 82 cm, la estructura es de PVC, tapizado en cuero PU y rellenado con espuma de poliuretano.<br>
            ¡Compra lo último en Technisport acá en Coolbox.pe!<br>
          </td>
        </tr>
      </table>
    </div>
    <br>
    <div data-content id="contenedor_tec">
      <h1>Descripción</h1>
      <br>
      <div id="contenedor_tec_sup">
        <!--cambiarlo por un logo con una direccion url-->
        <a href="http://logok.org/wp-content/uploads/2014/06/LG-logo.png"><img src="/IMAGEN/samsung.jpeg" alt="lg logo" width="70px"></a>
        <a href="https://www.elsoldemexico.com.mx/analisis/tech-trends-la-ropa-sucia-afortunadamente-se-lava-en-casa-6497880.html" 
        id="contenedor_tec_sup_texto">Conoce más...</a>
      </div>
      <div id="contenedor_tec_cent">
        <div id="contenedor_tec_cent_1">
          <img src="https://www.ofisillas.es/blog/wp-content/uploads/2015/12/Posturas-silla.jpg" alt="ecofriend" height="100px" width="100px">
          <p>Buena postura</p>
        </div>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <div id="contenedor_tec_cent_2">
          <img src="https://www.nsmotorsport.es/26126-large_default/sparco.jpg" alt="tecnología" height="100px" width="100px">
          <p>Facil movilidad</p>
        </div>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <div id="contenedor_tec_cent_3">
          <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSF856wh7AjMEqP4HiJsa3TxGuqcAKq-Z7ODw&usqp=CAU" width="100px" height="100px" alt="motor-s" id="contenedor_FT_T_centro_botonS">
          <p>Inclinación de 180°</p>
        </div>
      </div>
      <div id="contenedor_tec_fin">
        <p id="contenedor_tec_fin_texto">
          Las largas jornadas de juego valdrán la pena con esta silla gamer Technisport SGAZ, ideal para enfrentarte a los retos más difíciles durante muchas horas, porque es cómoda y sofisticada.<br>
            El sistema de elevación de gas revestido es de clase 2, la capacidad de soporte es de 120 kg, el alto del respaldo es de 82 cm, la estructura es de PVC, tapizado en cuero PU y rellenado con espuma de poliuretano.<br>
            ¡Compra lo último en Technisport acá en Coolbox.pe!<br>
        </p>
      </div>
    </div>
  </div>
</section>

<footer>
  <div class="monsa">
    <address>
      <div class="info-contacto">
          <p>GRUPO 1 , ELECTRO-HOGAR S.A. <br>
          <a href="https://accounts.google.com/ServiceLogin/signinchooser?service=mail&passive=true&rm=false&continue=https%3A%2F%2Fmail.google.com%2Fmail%2F&ss=1&scc=1&ltmpl=default&ltmplcache=2&emr=1&osid=1&flowName=GlifWebSignIn&flowEntry=ServiceLogin">electrohogar@electrohogar.com</a><br>
          Calle Arenas 230 , Villa Humedales - Indonesia <br>
          +62 66518-9214</p>
      </div>
      <div class="botoncontactanos">
          <button><a href="https://accounts.google.com/ServiceLogin/signinchooser?service=mail&passive=true&rm=false&continue=https%3A%2F%2Fmail.google.com%2Fmail%2F&ss=1&scc=1&ltmpl=default&ltmplcache=2&emr=1&osid=1&flowName=GlifWebSignIn&flowEntry=ServiceLogin" style="text-decoration: none;">CONTACTANOS</a></button>
      </div>
    </address>
  </div>
  <div class="certus">
    <span class="registro">
    Todos los derechos reservados ELECTRO-HOGAR S.A. 2019
    </span>
  </div>
</footer>
</body>
</html>