<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GAMER'S CHECKPOINT</title>

    <link rel="stylesheet" href="CSS/principal.css">
    <link rel="shortcut icon" href="IMAGEN/iconos/ICONO_CP.png"/>
    <link href="https://fonts.googleapis.com/css2?family=Baloo+Tammudu+2:wght@500&display=swap"
    rel="stylesheet">
    <link rel="stylesheet" href="CSS/product04.css">

    <script src="JS/product01.js" defer></script>
</head>
<body>
  <header class="dtop1">
    <div class="cabecera1">
        <div class="redes">
            <a href="https://www.youtube.com/channel/UCS7_JKtsQzooHVPmZzJOjaA" style="text-decoration: none;">
                <img src="IMAGEN/iconos/youtube.png" alt="Youtube"> &nbsp;
            </a>
            <a href="https://wa.me/message/M23MNKYLPLCEF1" style="text-decoration: none;">
                <img src="IMAGEN/iconos/whatsapp.png" alt="whats App">&nbsp;
            </a>
            <a href="https://es-la.facebook.com/ElectroHogarMx/posts/" style="text-decoration: none;">
                <img src="IMAGEN/iconos/facebook.png" alt="FaceBook">&nbsp;
            </a>
            <a href="https://twitter.com/search-home" style="text-decoration: none;">
                <img src="IMAGEN/iconos/twitter.png" alt="Twitter">&nbsp;
            </a>
            <a href="https://www.instagram.com/electrohogar_/" style="text-decoration: none;">
                <img src="IMAGEN/iconos/instagram.png" alt="Instagram"> 
            </a>
        </div>
        <div class="fraselema"> 
            <p>SABEMOS QUE ENCONTRARÁS LO QUE BUSCAS ;)</p>
        </div> 
    </div>
    <nav class="navegacion">
        <div class="logo-texto">
            <img src="IMAGEN/iconos/LOGO_GCH.png" alt="logo">
        </div>
        <div>
            <ul id="" class="menu">
              <li><a href="/"><b>HOME</b></a></li> |
              <li><a href="catalogo"><b>CATÁLOGO</b></a></li> |
              <li><a href="conocenos"><b>CONÓCENOS</b></a></li>
            </ul>
        </div>
        <div class="login">
              <div class="cabecera-der">
                  <a href="registro"><button>REGÍSTRATE</button></a>
                
              </div> 
        </div>
    </nav>
</header>
<section class="primerbloque">
  <article class="produtoanddescription">
    <div class="produtoanddescription__img-info">
      <div class="produtoanddescription__img-info__img">
        <img src="IMAGEN/gif_producto/POLO1.gif" alt="Polo" width="580px">
        <figcaption>
          <p>POLO GAMER</p>
        </figcaption>
      </div>
      <div class="produtoanddescription__img-info__info">
        <div class="produtoanddescription__img-info__info__caracteristicas">
        <h1>POLOS GAMER</h1>
        <h3>SKU# AC38132</h3>
        <h3>Personalizados</h3>
        <h3>Disponible en negro y blanco</h3>
        <h2>S/ 50</h2>
      </div>
      <div class="produtoanddescription__img-info__info__entrega">
        <div id="tabladecap">
          <div id="tb_cap">
            <div id="tb_cap_contenedor">
              <legend>Opciones de Entrega</legend>
              <div id="domicilio">
                <div><img src="IMAGEN/iconos/iconocasa.png" alt="delivery" height="40px"></div> &nbsp;&nbsp;
                <div><h5>DESPACHO A DOMICILIO <P>Disponible</P> </h5></div> &nbsp;
              </div>
              <div id="retiro">
                <div><img src="IMAGEN/iconos/iconotienda.png" width="50px" alt="retiro"></div> &nbsp;&nbsp;
                <div><h5>RETIRO EN TIENDA  <P>No disponible</P> </h5></div> &nbsp;
              </div>
              <div id="stock">
                <div><img src="IMAGEN/iconos/iconostock.png" width="50px" alt="stock"></div>&nbsp;&nbsp;
                <div><h5>STOCK EN TIENDA <P>No disponible</P></h5></div>&nbsp;
              </div>
            </div>
          </div>
          <div id="tr_cond">
            <p><a href="#">Cambios y Condiciones</a> en nuestras tiendas a nivel nacional</p>
          </div>
        </div>
      </div>
    </div>
  </article>
</section>

<script src="https://www.paypal.com/sdk/js?client-id=sb"></script>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<script> 
paypal.Buttons({
createOrder: function(data, actions) {
return actions.order.create({
    // ...
    purchase_units: [{
        amount: {
            value: 20
        }
    }],
});
}
}).render('body');</script>

<section class="O-P">
  <div class="barhor">
      <div class="contenedor2">
          <p>OFERTAS</p>
          <ul class="list">
              <li class="list2">PARA TI</li>
              <li>FOUR YOU</li>
              <li>PER A TU</li>
          </ul>
      </div>
  </div>
  <div class="grid">
    <div class="bar4x4_1">
        <div class="favimg1">
            <a href="product01"><img src="IMAGEN/gif_producto/silla.gif" 
            alt="silla-azul-negro" height="150px" width="150px"></a>
        </div>
        <div class="textin1">
            <h3>Silla gamer Technisport gas</h3>
            <br>
            <h1>S/.1,200 ♥</h1>
        </div>
    </div>
    <div class="bar4x4_2">
        <div class="favimg2">
            <a href="product02"><img src="IMAGEN/gif_producto/TECLADO1.gif" 
            alt="teclado" height="150px" width="150px"></a>
        </div>
        <div class="textin2">
            <h3>Teclado Razer Tartarus Pro</h3>
            <br>
            <h1>S/.530 ♥</h1>
        </div>
    </div>
    <div class="bar4x4_3">
        <div class="favimg3">
            <a href="product03"><img src="IMAGEN/gif_producto/FIGURA1.gif" 
            alt="Funko" height="150px" width="150px"></a>
        </div>   
        <div class="textin3">
            <h3>Funko Pop</h3>
            <br>
            <h1>S/.70 ♥</h1>
        </div>     
    </div>
    <div class="bar4x4_4">
        <div class="favimg4">
            <a href="product04"><img src="IMAGEN/gif_producto/TARJETA1.gif" 
            alt="tajeta-video1" height="150px" width="150px"></a>
            </div>
            <div class="textin4">
                <h3>
                  Tarjeta de video Radeon RX6700 xt Gaming
                </h3>
            <br>
            <h1>S/.5,190 ♥</h1>
            </div>
    </div> 
</div>
</section>

<section class="nave_tabs">
  <div class="nav_ventanas">
    <div id="nav_ventanas_menu">
    <button class="fi-des" data-target="#contenedor_FT">Información General</button>
    <button class="fi-des" data-target="#contenedor_tec">Descripción</button>
    </div>
    <div data-content id="contenedor_FT" class="active">
      <h1>Información General</h1>
      <br>
      <table id="tablafichat">
        <tr>
          <th id="tablafichat_carac">CARACTERÍSTICAS</th>
          <td id="tablafichat_carac_desc1">Tela tejido de punto jersey 30/1, compactado, 100% algodón. <br>
            Manga corta.  <br>
            En cuello redondo o cuello en v. <br>
            Textura suave.
          </td>
        </tr>

        <tr>
          <th id="tablafichat_esp">TALLAS</th>
          <td id="tablafichat_esp_desc2">
            Tenemos una variedad de tallas desde XS hasta XL. <br>
            <p>* Tallas especiales a pedido previo</p>
          <br>
          </td>
        </tr>
      </table>
    </div>
    <br>
    <div data-content id="contenedor_tec">
      <h1>Descripción</h1>
      <br>
      <div id="contenedor_tec_sup">
        <!--cambiarlo por un logo con una direccion url-->
        <a href="https://articulo.mercadolibre.com.pe/MPE-441890905-polos-personalizados-gamer-video-juegos-_JM?attributes=COLOR_SECONDARY_COLOR%3ATmVncm8%3D&quantity=1"><img src="IMAGEN/marcas/confeccion.png" alt="polo" width="70px"></a>
        <a href="https://articulo.mercadolibre.com.pe/MPE-441890905-polos-personalizados-gamer-video-juegos-_JM?attributes=COLOR_SECONDARY_COLOR%3ATmVncm8%3D&quantity=1" id="contenedor_tec_sup_texto">Conoce más...</a>
      </div>

      <div id="contenedor_tec_fin">
        <p id="contenedor_tec_fin_texto">
          Somos fabricantes de Polos de Algodón textíl de primera calidad; a precios por Mayor. <br>
          Confeccionamos polos jersey manga corta y manga larga, en una amplia gama de modelos, diseños y colores. <br>
          Camisetas de calidad adecuados para empresas e instituciones así como para la universidad, viajes, paseos y uso diario.  <br>
          Ofrecemos un amplio catalogo de Polos jersey de aspecto elegante y muy cómodas.  <br>
          Camisetas con logo o mensaje, además con variedad de acabados, formas de impresión y colores.  <br>
          Además desarrollamos modelos nuevos, de acuerdo a su diseño y especificaciones.  <br>
          También confeccionamos todo tipo de Artículos Publicitarios textiles y Merchandising para Empresas.</p>
      </div>
    </div>
  </div>
</section>

<footer>
  <div class="monsa">
    <address>
      <div class="info-contacto">
          <p>GAMER'S CHECKPOINT S.A.<br>
          <a href="https://accounts.google.com/ServiceLogin/signinchooser?service=mail&passive=true&rm=false&continue=https%3A%2F%2Fmail.google.com%2Fmail%2F&ss=1&scc=1&ltmpl=default&ltmplcache=2&emr=1&osid=1&flowName=GlifWebSignIn&flowEntry=ServiceLogin">togamersforgamer@gmail.com</a><br>
          Calle Arenas 230 , Villa Humedales - Perú <br>
          +62 66518-9214</p>
      </div>
      <div class="botoncontactanos">
          <button><a href="https://accounts.google.com/ServiceLogin/signinchooser?service=mail&passive=true&rm=false&continue=https%3A%2F%2Fmail.google.com%2Fmail%2F&ss=1&scc=1&ltmpl=default&ltmplcache=2&emr=1&osid=1&flowName=GlifWebSignIn&flowEntry=ServiceLogin" style="text-decoration: none;">CONTACTANOS</a></button>
      </div>
    </address>
  </div>
  <div class="certus">
    <span class="registro">
    Todos los derechos reservados GAMER'S CHECKPOINT S.A. 2021
    </span>
  </div>
</footer>
</body>
</html>