<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="src/IMAGEN/ICONO_CP.png"/>
    <link href="https://fonts.googleapis.com/css2?family=Baloo+Tammudu+2:wght@500&display=swap" rel="stylesheet">
    <title>Lavandería</title>

    <link rel="stylesheet" href="CSS/principal.css">
    <link rel="stylesheet" href="CSS/seccion-lavanderia.css">
    <link rel="stylesheet" href="CSS/catalogo.css">
    <link rel="stylesheet" href="JS/catalogo.js">
    

</head>
<body class="grid-container">

<header class="dtop1">
  <div class="cabecera1">
    <div class="cabecera-izq">
      <img src="IMAGEN/youtube.png" alt="Youtube" width="20px"> &nbsp;
      <img src="IMAGEN/whatsapp.png" alt="whats App" width="20px">&nbsp;
      <img src="IMAGEN/facebook.png" alt="FaceBook" width="20px">&nbsp;
      <img src="IMAGEN/twitter.png" alt="Twitter" width="20px">&nbsp;
      <img src="IMAGEN/instagram.png" alt="Instagram" width="20px"> 
    </div>
    <div class="cabecera-centro"> 
      <p id="cabecera-centro-eslogan">SABEMOS QUE ENCONTRARÁS LO QUE ESTAS BUSCANDO ;)</p>
    </div>
    <form>
      <div class="cabecera-der">   
        <button style="font-size: 11px; height: 22px; width: 90px;">MI CUENTA</button></a>
        &nbsp;&nbsp;
        <input type="text" name="busqueda" id="busqueda" placeholder="Buscar..." style="width: 100px;">
      </div> 
    </form>   
  </div>
  <nav id="" class="navegacion">
    <div class="logo-texto">
      <img src="IMAGEN/LOGO_GCH.png" alt="logo" height="140px" width="280px">
    </div>
    <ul id="" class="menu">
      <li><a href="index.html"><b>HOME</b></a></li> |
      <li><a href="sección-lavandería.html"><b>LAVADO Y LIMPIEZA</b></a></li> |
      <li><a href="#"><b>MARCAS</b></a>
        <ul class="submenu">
        <li><a href="lg_empresa.html">LG</a></li>
        <li><a href="sección-empresas.html">SAMSUNG</a></li>
        </ul>
      </li>
    </ul>
  </nav>
</header>

<section id="titulo_lavan">
  <div class="page-nav">
    <h1>CATÁLOGO GAMER'S</h1>
    <button id="checkout" class="button-checkout" onclick="pay()">Pagar</button>
</div>
<div class="page-content">
    <div class="product-container">
        <h3>Nombre</h3>
        <a href="product01.html"></a> <img src="IMAGEN/Product-1.jpg" alt="Silla Gamer">
        <h1>$ 12,28</h1>
        <button class="button-add" onclick="add('Product-1',50)">COMPRAR</button>
    </div>
    <div class="product-container">
        <h3>Nombre</h3>
        <a href="product02.html"></a><img src="IMAGEN/Product-2.jpg" alt="Teclado Gamer">
        <h1>$ 61,38</h1>
        <button class="button-add" onclick="add('Product-2',250)">COMPRAR</button>
    </div>
    <div class="product-container">
        <h3>Nombre</h3>
        <a href="product03.html"></a><img src="IMAGEN/Product-3.jpg" alt="">
        <h1>$ 73,65</h1>
        <button class="button-add" onclick="add('Product-3',300)">COMPRAR</button>
    </div>
    <div class="product-container">
        <h3>Nombre</h3>
        <a href="product04.html"></a><img src="IMAGEN/Product-4.jpg" alt="">
        <h1>$ 85,93</h1>
        <button class="button-add" onclick="add('Product-3',350)">COMPRAR</button>
    </div>
</div>
<section id="main-lavan">
  
</section>

<section class="S-A">
  <div class="prueba">
      <span class="laundry pag"><a href="https://www.etsy.com/es/?ref=lgo"><h3>Click here: Encuentra cosas que te enamoren. Apoya a vendedores independientes. Solo en Etsy.</h3></a></span>
      <div class="laundry"><a href="https://www.etsy.com/es/?ref=lgo"><img src="IMAGEN/LaundryWhash.jpg" alt="" width="150px" height="200px"></a></div>
      <div class="laundry"><a href="https://www.etsy.com/es/?ref=lgo"><img src="IMAGEN/LaundryDry.jpg" alt="" width="150px" height="200px"></a></div>
      <div class="laundry"><a href="https://www.etsy.com/es/?ref=lgo"><img src="IMAGEN/LaundryFold.jpg" alt="" width="150px"height="200px"></a></div>
      <div class="laundry"><a href="https://www.etsy.com/es/?ref=lgo"><img src="IMAGEN/LaundryRepeat.jpg" alt="" width="150px" height="200px"></a></div>
  </div>
</section>

<footer>
  <div class="monsa">
      <address>
          <div class="info-contacto">
              <p>GAMER'S CHECKPOINT S.A. <br>
              <a href="https://accounts.google.com/ServiceLogin/signinchooser?service=mail&passive=true&rm=false&continue=https%3A%2F%2Fmail.google.com%2Fmail%2F&ss=1&scc=1&ltmpl=default&ltmplcache=2&emr=1&osid=1&flowName=GlifWebSignIn&flowEntry=ServiceLogin"><i>electrohogar@electrohogar.com</i></a><br>
              Calle Arenas 230 , Lince - Peru <br>
              +51 929623468</p>
          </div>
          <div class="botoncontactanos">
              <a href="conocenos"><input class="contactanos" type="submit" value="CONTACTANOS"></a>
              
          </div>
      </address>
  </div>
  <div class="certus">
      <span class="registro">
      Todos los derechos reservados GAMER'S CHECKPOINT S.A. 2021
      </span>
  </div>
</footer> 
</body>
</html>