*{
  margin: 0;
  box-sizing: border-box;
}


/*AQUÍ SE EJECUTA EL ESTILO DEL TITULO DE LA SECCIÓN*/
#titulo_lavan {
  padding: 0;
  margin: 0;
  margin-bottom: 9px;

  background-color: #fff;
}


#titulo_lavan h1 {
  text-align: center;
}


/* AQUÍ SE EJECUTA EL ESTILO DE EL ASIDE*/



.clasificacion_filtro {
  width: 100%;
  height: 25px;
  text-align: center;
  background-color:#22844e;
  color: #fff;
}

#filtro-all {
  margin: 0;
  margin-left: 37%;
}

#filtro-all__text {
  background-color: #1fa35b;
}

#filtro-LG {
  margin: 0;
  margin-left: 15px;
}

#filtro-LG__text {
  background-color: #1fa35b;
}

#filtro-SAMSUNG {
  margin: 0;
  margin-left: 15px;
}

#filtro-SAMSUNG__text {
  background-color: #1fa35b;
}

.main-lavan-prodc-img {
  padding: 0;
  padding-left: 15%;
}

.prodc-smsng {
  
  margin: 0%;
  padding: 0px;

  margin-left: 11%;
  padding-left: 2%;
  margin-top: 1%;

  width: 400px;
  height: 400px;

 background-color: #fff;
}

.prodc-lg {
  margin: 0%;
  padding: 0px;

  margin-left: 11%;
  padding-left: 2%;
  margin-top: 1%;

  width: 400px;
  height: 400px;

 background-color: #fff;
}


#filtro-SAMSUNG:checked ~ #aside_lavand_prodc_lg .prodc-lg {
  display: none;
}

#filtro-LG:checked ~ #aside_lavand_prodc_smsng .prodc-smsng {
  display: none;
}

#aside_lavand_prodc_lg {
  display: flex;
  flex-wrap: wrap;
}

#aside_lavand_prodc_smsng {
  display: flex;
  flex-wrap: wrap;
}

/*aqui esta el css del espacio de los anunciós */
.S-A{
  display: block;
  margin-top: 10px;
}
.prueba{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 100%;

  padding: 0;
  padding-top: 1%;
  background-color: #c4c4c4;
  
}
.laundry{
  margin: auto;
  margin-left: 10px;
  margin-bottom: 10px;
  padding: auto;
  padding-left: 10px;
  text-align: justify;
}
.pag{
  width: 150px;
  height: 185px;
  
}

.laundry > img{
  display: inline-flex;
  max-width: 100px;
  height: auto;
}

.TITULO{
  font-family: sans-serif;
  font-size: 1.4em;
  text-align: center;
  color: #ffffff;
  margin-bottom: 7px;
}

/*editos de los productos */

.body{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
/*editar los marcos de los productos*/
.conte{
  height: 510px;
  width: 25%;
  box-shadow:0 0 8px #fff ;
  margin: 30px 30px;
  background-color: rgba(109, 34, 93, 0.808);
}
/*editar la posicion de la descripcion de los productos*/
.conte .card{
  height: 200px;
  width: 100%;
  margin-bottom: 140px;
}
/*editar el tamaño de las imagenes  de los productos*/
.conte .produc img{
  padding-top: 20px;
  height: auto;
  width: 100%;

}
/*editar el fonde  del contenedor  de las imagenes  de los productos*/
.conte .produc{
   background-color: none;
}
/*editar la posicion  del precio  de los productos*/
.informacion{
  height: 90px;
  width: 100%;
}
/*editor h1 del texto  del productos*/
.informacion h1{
  font-family: sans-serif;
  font-size: 1.4em;
  text-align: center;
  color: #ffffff;
  margin-bottom: 7px;
}
/*editor P del texto  del productos*/
.informacion p{
  text-align: center;
  font-family: sans-serif;
  font-size: .9em;
  color: rgb(255, 255, 255);
}
.precio {
  height:50px;
  width: 85%;
  margin: auto;
  font-family: sans-serif;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #ffffff;
}
.box-precio{
  width: 80px;
}
.precio1{
  color: #00aeff;
  font-size: .9em;
}
.precio .precio2{
  font-size: 1.4em;
}
.shoping{
  font-size: 1.5em;
  color: rgb(253, 253, 253);
}

@media (max-width:320px)
{
  .conte{
      width: 100%;
      margin: 30px 0;
  }
}
@media (max-width:600px)
{
  .conte{
      width: 100%;
      margin: 30px 0;
  }
}

@media (max-width:700px)
{
  .conte{
      width: 80%;
      margin: 30px 0;
  }
}

@media (max-width:900px)
{
  .conte{
      width: 40%;
      margin: 30px 20px;
  }
}