* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    size: 100%;
    background-image: url('fondofinal.jpeg');
    background-size: 400% 300%;
    animation: BgGradient 20s ease infinite;
    
}

@keyframes BgGradient {
    0% {background-position: 0% 50%;}
    50% {background-position: 100% 50%;}
    100% {background-position: 0% 50%;}
}

.cabecera1{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: auto;
    margin-bottom: 5px;
    padding-top: 15px;

    text-align: center;
    
}

.redes img{
    width: 30px;
    height: 30px;
    margin: 5px;
}

.fraselema p{
    padding-top: 6px;
    padding-bottom: 6px;
    text-align: center;
}

/*SEPARADOR*/

nav{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    
    background:#140026ce;;
    text-align: center;
    width: 100%;
    height: auto; 
    padding-right: 50px;
    padding-left: 50px;
    align-items: center;
    margin-bottom: 20px;
}

.logo-texto img{
    margin: 16px 0;
    align-items: center;
    max-width: 500px;
    background: #140026d5;
    box-shadow: 7px 13px 37px #9217A4   
}

nav button{
    text-align: center;
    width: 100px;
    background: #140026d5;
    border: none;
    padding: 12px;
    color: white;
    margin: 16px 0;
    margin-left: 5px;
    margin-right: 5px;
    box-shadow: 7px 13px 37px #9217A4;
}

.menu {
    align-items: center;
    text-align: center;
    padding: auto;
    
}
.navegacion ul{
    list-style: none;
}
.menu > li{
    position: relative;
    display: inline-block;
}

.menu > li >a{
   
    display: block;
    padding: 10px 20px;
    color: #fff;
    
    text-decoration: none;
}

.menu li a:hover{
    color: #9217A4;
    transition: all .3s;

}

.submenu li a{
    display: block;
    padding: 15px;
    color: #ffffff;
    
    text-decoration: none;
}
.menu li:hover .submenu{
    display: block;
    visibility: visible;
    opacity: 1;

}

/*victor*/
footer{
    width: 100%;
    margin-top: 20px;
}
.monsa {
    background-color: #140026d5;
    margin: auto;
    width: 100%;

}

.certus { 

background-color: #000000;

color: #FFFFFF;    
text-align: center;
    padding-top: 5px ;
    height: 30px;
    width: 100%;

}

.info-contacto {
    color: white;

    font-size: 15px;
    padding-top: 10px;   

}

.info-contacto p {
    text-align: center;
}

.info-contacto a {
    text-decoration-color: white;
    color: white;
}

.botoncontactanos{
    align-items: center;
    display:flexbox;
    width: 150px;
    background: #140026;
    border: none;
    padding: 12px;
    color: white;
    margin: 16px 0;
    margin-left: 35%;
    margin-right: 35%;
}

